<div class="bookmark">
    <div class="bookmarks-container" bookmark-index="{{index}}">
        <img src="{{image_src}}" />
        <h1>{{title}}</h1>
        <h2>{{description}}</h2>
    </div>
</div>