<div class="popup-box check-default-language">
    <div class="popup-title camelcase">
       WARNING
    </div>
    <div class="content-block">
        <div class="block">
            <div class="sub-title">
                Switch to '{{default_language}}' language to create a new content !
            </div>
        </div>      
    </div>
    <div class="footer">
        <div class="block">
            <div class="cancel alert" data-popup="alert" rel="check-default-language">OK</div>
        </div>
    </div>
</div>
