{{#if comments.length}}
<ul>
    <li>
        <img src="/static/images/avatar.png">
        <div class="the-comment">
            <p>For future updates, you’ll no longer need to update from the applainc?</p>
            <span class="comment-date-time">Just Now</span>
        </div>
    </li>
    <li class="author-comment">
        <img src="/static/images/avatar.png">
        <div class="the-comment">
            <p>For future updates, you'll no longer need to update from the applaincesh?</p>
            <span class="comment-date-time">Tue, 2:03pm</span>
        </div>
    </li>
</ul>
{{else}}
<p class="no-comments">Only the author of this site will see your comment.</p>
{{/if}}