<div class="image-popup-wrap">
	<div class="image-popup-close"></div>
	<div class="popup-box">
		<div class="popup-wrap">
			<img class="scroll-zoom" src="{{resourceLink}}">
			<div class="zoom-btn">
				<button class="zoom-in"></button>
				<button class="reset-zoom"></button>
				<button class="zoom-out"></button>
			</div>
		</div>
	</div>
</div>