<div class="participant-question-popup rounded-block">
    <span class="participant-image"></span>
    <div class="participant-info">
        <span class="person-name">Lorem ipsum dolor</span>
        <span class="group-name partner">partner</span>
        <div class="quiz-taken">Quiz taken on 08/08/2019</div>
        <div class="quiz-taken">Time taken is 28 minutes 58 seconds</div>
    </div>
    <span class="close-question-popup"></span>
    <div class="total-score">Total Score: 18/20</div>
    <div class="question-block rounded-block">
        <div class="question-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <ul>
            <li>option1</li>
            <li class="answered-wrong">option2</li>
            <li>option3</li>
            <li class="answered-correct">option4</li>
        </ul>
    </div>
    <div class="question-block rounded-block">
        <div class="question-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <ul>
            <li>option1</li>
            <li class="answered-wrong">option2</li>
            <li>option3</li>
            <li class="answered-correct">option4</li>
        </ul>
    </div>
</div> 