<div class="question-display-popup rounded-block">
    <div class="close-question-popup"></div>
    <div class="question-container">
        <div class="question-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <ul>
            <li>option1</li>
            <li>option2</li>
            <li>option3</li>
            <li class="answered-correct">option4</li>
        </ul>
    </div>
</div>