<div class="repository-connector-list-popup">
    <div class="connector-list-popup">
        <div class="popup-title camel-case">{{i18n 'Choose Integration'}}</div>
        <div class="show-layout-popup popup-back-icon" data-close="repository-connector-list" data-open="choose-category-type"></div>
        <div class="content-block">
            <div class="loading-icon-wrapper">
                <img class="loading-icon" src="/static/images/loading_icon.gif" />
            </div>
        </div>
    </div>
</div>

{{> folder-list-popup }}