{% extends 'layouts/base.html' %}

{% block styles %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/font-awesome/4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seo/dell/main.css') }}">
    {% block sub_styles %}
    {% endblock %}
{% endblock %}

{% block head_end %}
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript">
        if(window.location.hash && window.location.hash.includes('#!') && '{{request.blueprint}}' == 'main'){
            var h_url = window.location.hash.split('#!')
            if(h_url.length > 1 && h_url[1] != '/'){
                window.location.replace(window.location.href.replace('#!', 't'));
            }
        }
    </script>
    {% if tenant and tenant.analytics %}
        {{tenant.analytics|safe}}
    {% endif %}
{% endblock %}
{% macro breadcrumb(name, section_id=None, product=None) %}
    <a href="{{url_for('main.home')}}">{{_('Home')}}</a>{% if product and product['slug'] != section_id %} > <a href="{{url_for('main.route_handler', section=product['slug'])}}">{{product['name']}}</a>{% endif %} > {{name}}
{% endmacro %}
{% macro translation_wrapper() %}
    <div class="custom-popup-wrapper"></div>
{% endmacro %}
{% macro back_button(section=None, home=False) %}
    {% set link = None %}
    {% if home %}
        {% set link = url_for('apps.home') %}
    {% elif not section %}
        {% set link = url_for('main.home') %}
    {% else %}
        {% set link = url_for('main.route_handler', section=section) %}
    {% endif %}
    {% if link %}
        <a href="{{link or 'javascript:;'}}" class="back-button"></a>
    {% endif %}
{% endmacro %}

<!-- cta-list -->
{% macro cta_list(cta_list) %}
    {% for cta in cta_list %}
        {% if cta.type == 'link' %}
            <a class="cta-btn" href="{{ cta.href }}" data-cta-id="{{ cta.cta_id }}"
                target="_blank">{{ cta.text }}</a>
        {% elif cta.type == 'pdf' %}
            <a class="cta-btn cta-pdf-btn" data-url="{{ cta.file_path }}" data-name="{{ cta.name }}" data-cta-id="{{ cta.cta_id }}">{{ cta.text }}</a>
        {% endif %}
    {% endfor %}
{% endmacro %}
{% macro header() %}
<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="header-left-block col-xs-4">
                <a href="/">
                    {% if api['tenant']['logo'] %}
                        <img class="logo" src="{{ url_for('static', filename='media/' + api['tenant']['logo']) }}" alt="logo">
                    {% else %}
                        <img class="logo" src="{{ url_for('static', filename='images/dell/logo.png') }}" alt="logo">
                    {% endif %}
                </a>
            </div>
            <div class="header-right-block col-xs-8">
                {% if not api['tenant']['is_private'] %}
                    {{ social_share() }}
                {% endif %}    
                {% if can_access_journey %}
                    <a href="{{url_for('apps.journeys_home')}}" title="Journey" class="journey-toggle {% if api['view_type'] == 'journey' %}active{% endif %}"></a>
                {% endif %}
                <div class="search-icon"></div>
                <div data-attr="cancel-search"></div>  
            </div>
        </div>
    </div>
</header>
{% endmacro %}
{% macro social_share() %}
    <div class="mobile-social-sharing {% if tenant.flags.is_private %} hide {% endif %}"></div>
    <ul class="social-sharing {% if tenant.flags.is_private %} hide {% endif %}">
        <li class="fa fa-linkedin" social-share="linkedin"></li>
        <li class="fa fa-facebook" social-share="facebook"></li>
        <li class="fa fa-twitter" social-share="twitter"></li>
        <li class="fa fa-envelope-o mailto" aria-hidden="true"></li>
    </ul>
{% endmacro %}
{% macro search() %}
    <div class="header-search-block container">
        <input class="search-site col-xs-12" name="search-site" type="text" placeholder="What are you looking for?">
        <div class="clear-search"></div>
    </div>
{% endmacro %}
{% macro videos() %}
    {% if api['videos'] %}
        <div class="watch-videos center-pseudo" target="#video-slider-block">
            <img src="{{api['videos'][0]['poster_image']}}" style="width:100%" >
        </div>
    {% endif %}
    {% if api['videos'] %}
    <div class="section-video-popup">
        <div class="hide-video-popup"></div>
        <div class="section-video">
            <div id="video-slider-block">
                <div class="video-slider">
                    <ul>
                        {% for video in api['videos'] %}
                        <li>
                            <div class="video-link" data-video-link="{{video['link']}}">
                                <img src="{{video['poster_image']}}" style="width:100%" >
                            </div> 
                        </li>
                        {% endfor %}
                    </ul>
                </div>  
            </div>          
        </div>
    </div>
    {% endif %}
{% endmacro %}
{% macro footer() -%}
    <div class="grayout"></div>
    {% if api and api.get('tenant') and api['tenant'].get('footer') and api['tenant']['footer']['links'] or api['tenant']['footer']['text']%}             
        <footer>
            <div class="container">
                <div class="page-footer ">
                    <img class="footer-logo" src="{{ url_for('static', filename='images/dell/logo-inverse.svg') }}" alt="logo">
                    <div class="footer-links">
                        {% if api['tenant']['footer']['text'] %}
                            <div class="copyright">
                                {{api['tenant']['footer']['text'] | safe}}
                            </div>
                        {% endif %}
                        {% if api['tenant']['footer'].get('links') %}
                            <ul class="links">
                                {% for link in api['tenant']['footer']['links'] | sort(attribute='order') %}
                                <li class="item">
                                    <a class="title camel-case" target="_blank" href="{{link.url}}">{{link.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </footer>
    {% endif %}
{%- endmacro %}

{% macro load_seo_meta(title=None, description=None, image=None) -%}
    <title>{{title or 'Product Walkthroughs'}}</title>
    <meta name="description" content="{{description or ''}}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title or ''}}" />
    <meta property="og:description" content="{{description or ''}}" />
    <meta property="og:url" content="{{request.url}}" />
    <meta property="og:image" content="{{image or ''}}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{title or ''}}" />
    <meta name="twitter:description" content="{{description or ''}}">
    <meta name="twitter:url" content="{{request.url}}">
    <meta name="twitter:image" content="{{image or ''}}">
{%- endmacro %}

{% block scripts %}
    <script type="text/javascript">
        {% if tenant.favicon %}
            document.favicon = "{{ url_for('static', filename='media/' + tenant.favicon)}}"
            $("link[rel*='shortcut']").attr("href", document.favicon);
        {% endif %}
        {% if session['user']['locale'] %}
            document.current_locale = "{{session['user']['locale']}}";
        {% endif %}
        document.defaultLocaleID = "{{tenant.default_locale_id}}";
        document.can_embed = "{{tenant.flags.can_embed}}";
        document.isPrivate = "{{is_private}}" === 'True';
        
        // for algolia search content
        document.algolia_tenant_index = '{{ algolia_api.tenant_index }}';
        document.algolia_app_id = '{{ algolia_api.app_id }}';
        document.algolia_search_key = '{{ algolia_api.search_key }}';
        document.cdn_url = "{{config.get('ASSET_CDN_URL', '')}}";

        document.isUserAnonymous = true;
        {% if g.user and g.user.is_active() %}
            document.isUserAnonymous = false;
            {% if user_groups %}
                document.userGroups = {{user_groups}};
            {% endif %}
        {% endif %}
        const sectionTitle = $('h1').text().trim() || $('title').text().trim();
        const mailTo = `mailto:?subject=${sectionTitle}&body=${window.location.href}`;
        $('.mailto').append(`<a class='share-with-mail' href='${mailTo}'></a>`);
    </script>
    <script type="text/html" id="rating-popup">
        <div class="custom-popup" id='rating-feedback'>
            <div class="popup-title">
                <div class="feedback-title">Give Us Some Feedback</div>
                <div class="feedback-subtitle">
                    <p>Your feedback will help us to improve this content.</p>
                    <p> How can we make this experience better for you?</p>
                </div>
            </div>
            <div class="popup-body">
                <textarea class="feedback-text" maxlength="500" placeholder="Feedback" ></textarea>
                <div class="counter">
                    <span data-counter>500</span><span> characters left</span>
                </div>
                <div class="error-msg">Please provide some feedback</div>
            </div>
            <div class="popup-footer">
                <div class="form-footer">
                    <div class="cancel">CANCEL</div>
                    <div class="submit">SUBMIT FEEDBACK</div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="language-translations">
        <div class="custom-popup" id="translation-options">
            <div class="close-custom-popup close-icon" data-close></div>
            <h2>{{_('Language select')}}</h2>
            <p class="popup-desc">{{_('This content is available in another language.')}}<br>{{_('Select a language to translate.')}}</p>
            <div class="current-lang" data-current-language>
                <p>{{_('current language')}}</p>
                <ul>
                    <li class="lang-box active"></li>
                </ul>
            </div>
            <div class="select-lang">
                <p>{{_('select language')}}</p>
                <ul data-language-options>
                    <!-- <li class="lang-box"></li> -->
                </ul>
            </div>
        </div>
    </script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script type="text/javascript" src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <script src="{{ url_for('static', filename='libs/jquery-nicescroll/jquery.nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='libs/sudo-slider/jquery.sudoSlider.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/build/lazyload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/helpers/cookies.js') }}"></script>
    <script src="{{ url_for('static', filename='js/social_share.js') }}"></script>
    <script src="{{ url_for('static', filename='js/seo/common/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/build/templates/dell/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/build/translations.js') }}"></script>
    {% block sub_scripts %}{% endblock %}
{% endblock %}
