{% extends 'tenants/seo/dell/base.html' %}

{% block seo %}
    {{load_seo_meta(title=api['tenant']['name'], description=api['tenant']['description'])}}
{% endblock %}

{% block container %}
<div id="products-list" class="container-block">
    {{ translation_wrapper() }}  
    {{ header() }}
    {{ search() }}
    {% if api['all_products'] %}
    <main class="container">
        <section class="row categories-list">
            {% for product in api['all_products'] %}
            <div class="col-xs-12 category-details">
                <div class="category-block">
                    {% if product['translations_available'] %}
                        <div class="translation-icon" data-overlay="language-translations" data-language-options='{{product['locales_available']|tojson}}'></div>
                    {% endif %}
                    {% set href_url = url_for('main.route_handler', section=product['slug'])%}
                    {% set class_name = 'category-link' %}
                    {% if product['linked_asset'] %}
                        {% set href_url =  url_for('main.serve_section_assets', asset_name=product['linked_asset']['name']) %}
                        {% set class_name = 'asset-linked' %}
                    {% endif %}
                    {% set data_attr = 'data-product-id=' + product['slug'] + ' data-section-id=' + product['slug'] %}
                    <div class="category-icon">
                        {% if product['icon'] %}
                            <div class="icon-gradient">
                                <img class="lazy-load" data-src="{{product['icon']['url']}}" alt="{{product['icon']['name']}}">
                            </div>
                        {% elif product['linked_asset'] %}
                            <img data-src="{{ url_for('static', filename='images/section-default-link-icon.png') }}" class="lazy-load theme-bg-color" alt="product">
                        {% else %}
                            <div class="default-product-icon"></div>
                        {% endif %}
                        <div class="product-data">
                            <h2>{{product['name']}}</h2>
                            <p>{{product['description']}}</p>
                            <a href="{{href_url}}" class="{{class_name}} product-link"{% if product['linked_asset']%} {{data_attr}} target="_blank" {% endif %}>Explore {{product['name']}}</a>
                        </div> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
    {% endif %}
</div>
{{ footer() }}
{% endblock %}

{% block sub_scripts %}
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script type="text/javascript">
    document.isUserAnonymous = true;
    document.apps = JSON.parse('{{apps|tojson}}');
    {% if g.user and g.user.is_active() %}
        document.isUserAnonymous = false;
    {% endif %}
    document.locales = JSON.parse('{{api["locales"]|tojson}}');
    document.page = 'Home';
</script>
<script src="{{ url_for('static', filename='js/seo/common/activitylogger.js') }}"></script>
{% endblock %}