body {
    font-family: 'Gotham Rounded A','Gotham Rounded B', 'Open Sans', sans-serif;
    color: #000;
}
body.player-overlay-active {
    overflow: hidden; 
}
.center-pseudo:before, .center-pseudo:after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.container-block h1 {
    font-size: 45px;
    font-weight: 500;
}
.container-block h2 , .custom-popup h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -15px;
}
.container-block h4 {
    font-size: 24px;
}
.container-block h5 {
    font-size: 18px;
    font-weight: 500;
}
.container-block h6 {
    font-size: 14px;
    font-weight: 500;
}
.breadcrum {
    font-size: 11px;
    font-weight: 500;
    color: #d3d4d5;
    line-height: 14px;
    margin-bottom: 15px;
}
.breadcrum a {
    color: inherit;
}
.popup-active {
    overflow: hidden;
}
.player-overlay-active .left-sidebar {
    position: fixed;
    z-index: 101;
}
.grayout {
    background: rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    display: none;
}
/* Apps page */
.container-block header {
    padding-top: 50px;
    padding-bottom: 50px;
}
header .vmw-logo {
    width: auto;
    margin-bottom: 55px;
    max-height: 35px;
}
.search-site {
    background: #f1f0f2;
    padding: 17px 35px;
    border-radius: 10px;
    position: relative;
    color: #1e1e1e;
}
.search-site-block:before {
    position: absolute;
    content: '';
    background: url(/static/images/vmware/sprite.png) no-repeat;
    background-position: 0 0;
    background-size: 32px;
    width: 15px;
    height: 15px;
    z-index: 1;
    left: 25px;
    top: 18px;
}
.search-site::-moz-placeholder {
  color: #c6c7ca;
  opacity: 1;
}
.search-site:-ms-input-placeholder {
  color: #c6c7ca;
}
.search-site::-webkit-input-placeholder {
  color: #c6c7ca;
}
#vmw-apps main {
    margin-top: 145px;
}
main h1 {
    font-size: 36px;
    color: #000;
} 
.apps-list, .categories-list {
    margin-top: 25px;
    margin-bottom: 25px;
}
.app-icon {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 18px;
    padding: 50%;
    position: relative; 
}
.app-details:hover .app-icon {
    box-shadow: 0 0 4px 1px #ccc;
}
.app-icon img {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.app-details {
    margin-bottom: 15px;
    display: block;
}
.app-details h6 {
    line-height: 18px;
    color: #000;
    padding-bottom: 8px;
}
.app-details p {
    font-size: 14px;
    color: #828b90;
    line-height: 18px;
    min-height: 36px;
}
.library-app .app-icon {
    background-color: rgba(138, 173, 225, 1);
    background: linear-gradient(to top, rgba(78, 102, 166, 1), rgba(138, 173, 225, 1))
}
.pathfinder-app .app-icon {
    background-color: rgba(161, 164, 223, 1);
    background: linear-gradient(to top, rgba(110, 103, 208, 1), rgba(161, 164, 223, 1))
}
.checklist-app .app-icon {
    background-color: #ffb82e;
    background: linear-gradient(to top, #c85f18 0%, #ffb82e 100%);
}
.quiz-app .app-icon {
    background-color: #0fc7a4;
    background: linear-gradient(to top, #2f7e99 0%, #0fc7a4 100%);
}
.faq-app .app-icon {
    background-color: #40435b;
    background: linear-gradient(to top, #2b2e43 0%, #2b2e43 0%, #40435b 100%);
}
.journey-app .app-icon {
    background-color:  #F26363;
    background: linear-gradient(to top, #E1A834 0%, #F26363 100%);
}
.container-block #journeys-container[data-template=vmware] {
    margin-top: 0px;
}
#main_container .search-site-block{
    margin-left: 185px;
}
.tagged-chapter-list {
    margin: 28px 0;
    padding: 0;
}
.tagged-chapter-list .no-result {
    font-size: 26px;
    color: #aaa;
}
.container .result-count {
    font-size: 18px;
}
a.tagged-chapter {
    display: block;
    margin-bottom: 23px;
}
.tagged-chapter-icon {
    display: inline-block;
    width: 175px;
    height: 115px;
    vertical-align: middle;
    background: #f2f2f2;
    border-radius: 5px;
}
.tagged-chapter-details h5 {
    color: #1e1e1e;
}
.tagged-chapter-icon img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
}
.tagged-chapter-details {
    display: inline-block;
    width: calc(100% - 180px);
    vertical-align: middle;
    padding-left: 30px;
}
.tagged-chapter-details p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 20px;
    color: #b3b3b3;
}
/* category page */
#vmw-category .vmw-logo {
    width: auto;
    max-height: 35px;
    margin-bottom: 30px;
}
#vmw-category .sub-title {
    margin-bottom: 30px;
}
#vmw-category .header-left-block h4{
    margin-bottom: 30px;
}
#vmw-category .search-site-block {
    float: none;
    height: 50px;
    margin: 0 auto;
}

.category-icon {
    border-radius: 15px;
    margin-bottom: 18px;
    height: 175px;
    box-shadow: 0 0 13px 5px rgba(0,0,0,0.1);
    position: relative;
    background-color: #f2f2f2;
}
.category-icon img {
    width: 100%;
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 100%;
}
.category-details {
    margin-bottom: 40px;
}
.category-block, .sample-exchange-wrap {
    display: block;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: transform 0.5s ease;
}
.category-block:hover, .sample-exchange-wrap:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.category-link, .category-link:hover {
    color: inherit;
}
.asset-linked, .asset-linked:hover {
    color: inherit;
}
.category-details h6, .sample-exchange-wrap h6 {
    color: #000;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/* section page */
#vmw-section .vmw-logo, .vmw-player .vmw-logo , #vmw-chapters .vmw-logo {
    width: auto;
    height: 35px;
    margin-bottom: 21px;
}
.sec-cat-details {
    margin-bottom: 60px;
}
.sec-cat-details p {
    color: #8e8e93;
    font-size: 16px;
    margin-top: 15px;
    line-height: 20px;
}
.cta-btn, a.export-pdf, .launch-faq {
    cursor: pointer;
    color: #3478f6;
    font-size: 12px;
    font-weight: 500;
    padding: 16px 19px;
    background: #f0f0f6;
    border-radius: 10px;
    margin-top: 30px;
    display: inline-block;
    margin-right: 5px;
}
.sec-cat-list , .playlist-list{
    margin-top: 25px;
    margin-bottom: 25px;
}
.category-list-details .category-list-link, .category-list-details .asset-linked {
    display: table;
    width: 100%;
    box-shadow: 0 0 21px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px 30px 15px;
    height: 175px;
    margin-bottom: 28px;
    position: relative;
    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    z-index: 0;
}
.category-list-details .category-list-link:hover, .category-list-details .asset-linked:hover {
    box-shadow: 0 0 21px 0px rgba(0,0,0,0.2);
}
.category-list-icon , .category-list-desc {
    display: table-cell;
    vertical-align: top;
    width: 68px;
}
.category-list-icon div {
    width: 68px;
    height: 68px;
    border-radius: 10px;
    display: block;
    position: relative;
    background-color: #f2f2f2;
}
.asset-linked .category-list-icon div img{
    width: 50px;
}
.category-list-icon div img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 25px;
    margin: auto;
}
.category-list-desc {
    padding: 0 18px 0 30px;
    position: relative;
    width: 100%;
}
.category-list-desc h5 {
    color: #000;
    margin-bottom: 10px;
    max-height: 38px;
    overflow: hidden;
}
.category-list-desc p {
    color: #8e8e93;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    max-height: 64px;
    overflow: hidden;
}
.category-list-desc p:not(.desc-with-tags) {
    max-height: 96px;
}
.category-tags:after {
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0.1) 21%, rgba(255,255,255,1) 79%);
    width: 50px;
    content: "";
}
.category-tags {
    height: 24px;
    overflow: hidden;
    margin-top: 10px;
    position: absolute; 
    bottom: 45px;
    width: calc(100% - 176px);
    white-space: nowrap;
    height: auto;
    left: 140px;
    z-index: 1;
    cursor: pointer;
}
.category-tags li {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
    background: #08d8b8;
    border-radius: 15px;
}
.category-tags:hover {
    background: white
}
.category-tags:hover li{
    display: inline-block;
    float: left;
    margin: 5px 0px 0px 5px
}
.translation-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 1;
    right: 15px;
    top: 5px;
    background-color: #f0f0f6;
    border-radius: 50%;
    cursor: pointer;
    background: #fff url(/static/images/vmware/language-icon.png) no-repeat;
    background-position: 3px 3px;
    background-size: 80%;
    border: 1px solid #fff;
}
.translation-icon:hover {
    border: 1px solid #066afe;
    cursor: pointer;
}
/* playlist page */
.container-header {
    position: relative;
}
a.export-pdf {
    color: #23ce00;
    cursor: pointer;
    text-decoration: none !important;
    text-transform: uppercase;
}
.playlist-view-opt {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 16px;
}
#playlist-thumbnail-view {
    position: relative;
    background: #cdced3;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
#playlist-thumbnail-view:before {
    position: absolute;
    content: "";
    border: 1px solid transparent;
    width: 16px;
    top: 7px;
    z-index: 9;
    left: 0px;
    background: #fff;
}
#playlist-thumbnail-view:after {
    position: absolute;
    content: "";
    border: 1px solid transparent;
    width: 1px;
    height: 100%;
    left: 7px;
    z-index: 9;
    top: 0;
    background: #fff;
}
#playlist-row-view {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}
#playlist-row-view:before, #playlist-row-view:after {
    content: "";
    position: absolute;
    border-top: 7px solid #cdced3;
    width: 16px;
    left: 0;
    top: 0px;
}
#playlist-thumbnail-view.active, 
#playlist-thumbnail-view:hover {
    background: #000;
}
#playlist-row-view:before {
    top: 9px;
}
#playlist-row-view.active, 
#playlist-row-view:hover, 
#playlist-row-view:hover:after, 
#playlist-row-view:hover:before, 
#playlist-row-view.active:after, 
#playlist-row-view.active:before {
    border-color: #000;
}
.playlist-list {
    font-size: 0;
}
.playlist-container {
    box-shadow: 0 1px 25px 3.7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    position: relative;
    margin-bottom: 39px;
}
[data-attr=thumbnail-view] .playlist-block {
    float: none;
    display: inline-block;
    vertical-align: top;
}
.playlist-header {
    padding: 30px 35px;
}
[data-attr=thumbnail-view] .playlist-header {
    padding: 30px 35px 0;
}
[data-attr=thumbnail-view] .playlist-header p {
    margin-bottom: 35px;
}
.pdf-icon-thumbnail-view,
.pdf-icon-row-view{
    position: absolute;
    right: 0px;
    top: 10px;
    margin: 0px 7px;
    cursor: pointer;
    z-index: 1;
}
.pdf-icon-row-view {
    margin: 0px 20px;
}
.pdf-icon-thumbnail-view.with-trans-icon {
    margin: 0px 35px;
}
.pdf-icon-row-view.with-trans-icon {
    margin: 0px 50px;
}
.pdf-icon-thumbnail-view img,
.pdf-icon-row-view img {
    width: 20px;
    height: 20px;
    filter: brightness(1.5);
}
.pdf-icon-thumbnail-view:hover img,
.pdf-icon-row-view:hover img {
    filter: brightness(0.5);
}
.playlist-container h3 {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
    overflow: hidden; 
}
.playlist-thumbnail .playlist-container h3 {
    height: 38px;
}
[data-attr=thumbnail-view] .playlist-container {
    padding-bottom: 1px;
    position: relative;
}
.playlist-container p {
    font-size: 12px;
    line-height: 16px;
    min-height: 32px;
    color: #8e8e93;
}
.playlist-tags {
    margin-left: 75px;
    padding-left: 0;
    width: auto;
}
.playlist-tags li {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 8px;
    background: #08d8b8;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 2px;
    cursor: pointer;
}
.max-chapter-desc {
    max-height: 32px;
    overflow: hidden;
    display: block;
}
.seemore-chapter-desc {
    position: absolute;
    font-size: 10px;
    color: #3478f6;
    font-weight: 500;
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
    display: block;
}
.seemore-chapter-desc:hover {
    text-decoration: underline;
}
[data-attr=thumbnail-view] .chapters-list {
    margin-bottom: 25px;
    padding: 0;
    min-height: 180px;
}
[data-attr=thumbnail-view] .chapters-list.min-chapters{
    max-height: 180px;
    overflow: hidden;
}
[data-attr=thumbnail-view] .translation-icon{
    right: 0px;
}
.viewmore-chapters:before {
    position: absolute;
    content: "";
    background: url(/static/images/vmware/sprite.png) no-repeat;
    width: 18px;
    height: 18px;
    background-size: 29px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
    opacity: 0.3;
    background-position: -17px -10px;
}
.min-chapters + .viewmore-chapters:before {
    background-position: -18px -10px;
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
}
[data-attr=thumbnail-view] .viewmore-chapters {
    position: absolute;
    bottom: -16px;
    background: #fff;
    text-transform: uppercase;
    padding: 15px 15px;
    text-align: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border: 1px solid #cdced3;
    background: #fff;
}
.viewmore-chapters:hover:before {
    opacity: 0.5; 
}
.chapters-list {
    border-top: 1px solid #cdced3;
    padding-bottom: 24px;
}
.chapters-list li:last-child {
    margin-bottom: 0px;
}
.chapters-list .chapter-index-block {
    display: table-cell;
    width: 30px;
    vertical-align: middle;
}
.chapters-list .chapter-index {
    width: 30px;
    height: 30px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 27px;
}
.chapter-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 13px;
}
.chapters-list > li {
    margin-bottom: 10px;    
    padding-top: 10px;
}
.chapters-list li a {
    color: #000;
    display: table;
    width: 100%;
    vertical-align: middle;
    padding: 0 35px;
    height: auto;
}
.chapters-list li a:hover {
    color: #3478f6;
    text-decoration: none;
}
[data-attr=row-view] .playlist-container {
    float: left;
    width: 100%;
}
[data-attr=row-view] .chapters-list {
    border-top: none;
    padding-top: 24px;
}
/* social share */
.social-share-block p {
    color: #8e8e93;
}
/* custom popup */
.custom-popup-wrapper.vmw, .custom-popup-wrapper {
    display: block;
}
.custom-popup-wrapper.vmw:empty, .custom-popup-wrapper:empty {
    display: none;
}

/* custom popup style ends here */
.search-site-block .clear-search {
    width: 10px;
    height: 10px;
    background-position: -18px 6px;
    right: 21px;
    left: auto;
    cursor: pointer;
    padding: 10px;
}
[data-attr=cancel-search]{
    position: absolute;
    right: -42px;
    top: 18px;
    color: #399afb;
    cursor: pointer;
    display: none;
}
.copy-url-icon {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
}
.copy-url-icon:before, .copy-url-icon:after {
    content: "";
    background: #40435b;
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    z-index: 1;
    box-sizing: content-box;
}
.social-icon:hover .copy-url-icon:before, .social-icon:hover .copy-url-icon:after {
    background: #fff;
    border: 1px solid #40435b;
}
.copy-url-icon:after {
    right: 0;
    bottom: 0;
    border: none;
    z-index: 0;
}
.copyurl.active .social-icon {
    text-align: center;
    box-shadow: none;
}
.copyurl.active .copy-url-icon, .search-site-block .clear-search {
    display: none;
}
.copyurl.active .title {
    margin-left: 0;
    color: #8e8e93;
}
#social-share-options .copyurl.active div.social-icon {
    box-shadow: none;
}
/* Translations */
.current-lang p, .select-lang p {
    text-transform: uppercase;
    color: #a1a1a5;
    font-size: 11px;
    font-weight: 500;
}
#translation-options ul li, #translation-options ul li a {
    color: inherit;
}
#translation-options ul li.active, #translation-options ul li a  {
    border-radius: 12px;
    box-shadow: 0 0 43px rgba(0, 0, 0, 0.07);
    margin-top: 15px;
    line-height: 30px;
    padding: 16px 30px;
    display: block;
    margin-bottom: 10px
}
#translation-options ul li.active {
    background-color: #f1f0f2;
    box-shadow: none;
}
#translation-options ul li:not(.active):hover a {
    color: #fff;
    background: #267dfd;
    cursor: pointer;
}
.select-lang {
    margin-top: 38px;
}
/* Translation style ends here  */
/* playerframe */

.main-playerframe-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    bottom: 0;
    -webkit-animation: showPlayerframe 1s;
    -o-animation: showPlayerframe 1s;
    animation: showPlayerframe 1s;
    box-shadow: 0 1px 25px 3.7px rgba(0, 0, 0, 0.07);
    z-index: 110;
}
@keyframes showPlayerframe {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes showPlayerframe {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.main-playerframe-wrapper.hide-playerframe {
    -webkit-animation: hidePlayerframe 1s forwards;
    -o-animation: hidePlayerframe 1s forwards;
    animation: hidePlayerframe 1s forwards;
}
@keyframes hidePlayerframe {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
@-webkit-keyframes hidePlayerframe {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
#playerframe-block {
    width: 100%;
    height: 100%;
}
.copyembedurl .embed-url-box {
    display: none;
    color: rgb(67, 67, 67);
    font-size: 12px;
    margin-top: 25px;
    text-align: center;
}
.copyembedurl .embed-url-box.slide-down{
    display: block !important;
    -webkit-animation: fadeIn 2s;
    -ms-transform: fadeIn 2s;
    animation: fadeIn 2s;
}
.close-embed-url {
    color: rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
    margin: 0px 13px;
    padding: 10px;
}
.embedURL input {
    width: 90%;
    line-height: 19px;
    font-size: 10px;
    color: rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(16, 119, 196);
    border-image: initial;
    padding: 2px;
    margin: 14px;
}
/* Small screen style ends here */
/* video popup for section and playlist pages */
.watch-videos {
    display: inline-block;
    opacity: 0.85;
    box-shadow: 0 1px 49.6px 7.4px rgba(0, 0, 0, 0.07);
    position: relative;
}
.video-link-block .row {
    cursor: pointer;
}
.watch-videos img {
    border-radius: 13px;
    float: right;
    opacity: 0.85;
}
.watch-videos:hover {
    opacity: 1;
    cursor: pointer;
}
.watch-videos:before {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
}
.watch-videos:after {
    background-repeat: no-repeat;
    background-image: url(/static/images/vmware/sprite.png);
    background-position: -25px -35px;
    background-size: 35px;
    width: 10px;
    height: 10px;
}
.video-link-block {
    float: right;
    cursor: pointer;
}
.theme-bg-color{
    background: #2BA0CC;
    object-fit: contain;
}
.section-video-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background: #000;
    opacity: 0.9;
}
.show-videos .section-video-popup, .show-videos .newtemp .overlay, .show-videos .hide-video-popup {
    display: block;
}
body.show-videos {
    overflow: hidden;
}
.section-video iframe {
    display: none;
}
.section-video .video-link:before {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: url(/static/images/loading.gif) center center no-repeat;
    content: "";
}
.hide-video-popup {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 50px;
    cursor: pointer;
    background: url(/static/images/author/close.png) no-repeat;
    background-size: 100%;
    z-index: 9;
}
.section-video {
    display: block;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    max-width: 100%;
    width: 540px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#video-slider-block {
    margin-top: 25px;
}
.section-video .video-slider {
    height: auto !important;
}
.section-video .video-slider ul li {
    height: 100% !important;
}
.video-link {
    cursor: pointer;
}
.section-video iframe, .section-video object, .section-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section-video .controls {
    position: relative;
    display: inline-block;
}
.section-video .numericControls {
    position: relative;
    height: 10px;
    margin-top: 10px;
}
.section-video .numericControls li {
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    box-shadow: inset 0 0 0 3px #fff;
    cursor: pointer;
    height: 10px;
    opacity: .4;
    position: relative;
    width: 10px;
    box-sizing: border-box;
}
.section-video .numericControls li.current {
    background: #ffffff;
    opacity: 1;
}
.section-video .numericControls li a {
    display: none;
}
/* Footer styles */
.page-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}
.page-footer:before {
    content: "";
    z-index: -1;
    left: 0;
    position: absolute;
    width: 100%;
    height: 6px;
        background: #aadb1e;
    background: -moz-linear-gradient(left,#aadb1e 0,#006a91 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#aadb1e),color-stop(100%,#006a91));
    background: -webkit-linear-gradient(left,#aadb1e 0,#006a91 100%);
    background: -o-linear-gradient(left,#aadb1e 0,#006a91 100%);
    background: -ms-linear-gradient(left,#aadb1e 0,#006a91 100%);
    background: linear-gradient(to right,#aadb1e 0,#006a91 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aadb1e',endColorstr='#006a91',GradientType=1);
}
.bmc-footer-text {
    text-align: center;
    padding-right: 20px;
}
.colored-divisor {
    padding-bottom: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.colored-divisor>.rectangle {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 6px;
}
.colored-divisor>.rectangle.-blue {
    background-color: #4193cc;
}
.colored-divisor>.rectangle.-green {
    background-color: #c2c94f;
}
.colored-divisor>.rectangle.-lightblue {
    background-color: #96c8db;
}
.colored-divisor>.rectangle.-darkblue {
    background-color: #254072;
}
.colored-divisor>.rectangle.-darkgreen {
    background-color: #7caf53;
}
.page-footer, .page-footer>.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.page-footer>.links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 36px 0;
    list-style: none;
    padding-left: 0px;
}
.page-footer>.links.bmc {
    margin: 15px 0px;
}
.page-footer>.links>.item, .page-footer>.links>li {
    margin: 0;
    padding: 0 36px;
    text-align: center;
    border-right: 2px solid #ccc;
    font-size: 14px;
}
.page-footer>.links>.item.bmc, .page-footer>.links.bmc>li {
    padding: 0 15px;
}
.page-footer>.links>li:last-child {
    border-right: none;
}
.item a:link {
    color: #007cbb;
    text-decoration: none;
    text-transform: capitalize;
}
.links.bmc li a {
    color: #a7a9ac;
    font-weight: 700;
}
.item a:visited, .links.bmc li a:visited {
    color: #5659b9;
    text-decoration: none;
}
.item a:active, .item a:hover, .links.bmc li a:hover {
    text-decoration: underline;
}
.page-footer>.copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.page-footer>.copyright>.text {
    text-align: center;
    color: #565656;
}
.camel-case::first-line {   
    text-transform:capitalize !important;
}
.sub-title::first-letter{
    text-transform:capitalize;
}
.capital-letter{
    text-transform: uppercase !important;
}
/* Small screen style starts here */
@media (max-width: 420px ) {
    .category-details {
        width: 100%;
        float: none;
    }
}
@media (max-width: 767px) {
    .search-site {
        width: 85%;
    }
    [data-attr=cancel-search] {
        right: 20px;
    }
}
@media (min-width: 320px) and (max-width: 991px) {
    .container-block header {
        padding-top: 65px;
    }
    #vmw-category .vmw-logo{
        margin-bottom: 48px;
    }
    .breadcrum {
        margin-bottom: 10px;
    }
    header {
        padding-top: 80px;
        padding-bottom: 50px;
    }
    #vmw-apps header {
        padding-top: 20px;
    }
    #vmw-apps main {
        margin-top: 5px;
    }
    .app-icon {
        height: auto;
    }
    .left-sidebar {
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        width: 100%;
        height: 63px;
        background: #fff;
        z-index: 98;
    }
    .left-sidebar.widget_enabled{
        margin-top: 79px;
    }
    #main_container .search-site-block {
        margin-left: 24px;
    }
    .container .widget-block {
        max-width: 100%;
        width: 100%;
        top: 0;
        padding-right: 42px;
    }
    .container a.widget-block:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: #f1f0f2;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        -moz-transform: translateY(-50%) rotate(180deg);
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        border-radius: 50%;
        background-image: url(/static/images/author/arrow-back.png);
        background-position: 4px 7px;
        background-repeat: no-repeat;
        background-size: 10px;
    }
    .container-block .vmw-back-button, .container-block  .vmw-social-share, .container-block  .go-to-apps {
        top: 10px;
        position: relative;
        display: inline-block;
    }
    .container-block .vmw-back-button, .container-block .go-to-apps {
        left: 15px;
    }
    .container-block .vmw-social-share {
        float: right;
        right: 15px;
        left: auto;
    }
    .search-site {
        font-size: 14px !important;
    }
    .video-link-block {
        margin: 15px 15px 0 15px;
    }
    .video-link-block {
        float: none;
        max-width: 40%;
        margin: 15px 0;
    }
    .page-footer>.links>.item {
        padding: 0 15px;
    }
    .category-list-details .category-list-link {
        min-height: 175px;
        height: auto;
    }
    .center-pseudo:before, .center-pseudo:after {
        border: none;
    }   
}
@media (min-width: 992px) and (max-width: 1124px), (min-width: 1120px) and (max-width: 1315px) {
    .container {
        margin-left: 80px;
        margin-right: 80px;
        max-width: 100%;
        width: auto;
    }
    #main_container .search-site-block{
        margin-left: 110px;
    }
}
@media (min-width: 992px) and (max-width: 1124px) {
    .category-list-desc p {
        max-height: 32px;
    }
}

.widget-block{
    position: absolute;
    top:50px;right:0;
    border-left:3px solid #ffb82e;
    padding:15px;
    box-shadow:0 0 13px 5px rgba(0,0,0,0.1);
    max-width:350px;
    max-height:30%;
}
.widget-title{
    color:#ffb82e;
    font-weight:500;
    margin-bottom:5px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:block;
}
.widget-description{
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.5em;
  color: #1e1e1e;
}
.search-active .widget-block {
    display: none;
}

/*content rating*/
.chapter.content-rating-block label,
.section.content-rating-block label {
    display: none;
    font-size: 12px;
    color: #fdc300;
}
.section.content-rating-block {
    margin-top: 15px;
}
#rating-feedback {
    padding: 40px;
    width: 500px;
    text-align: left;
}
.content-rating li{
    background: url(/static/images/content-rating.jpg) no-repeat;
    height: 14px;
    width: 17px;
    background-size: 17px;
    cursor: pointer;
    float: left;        
}
.content-rating li.is_selected,
.content-rating li.star-rated{
    background: url(/static/images/content-rating.jpg) no-repeat;
    background-position: 0 -15px; 
    height: 14px;
    width: 17px;
    background-size: 17px;
    cursor: pointer;            
    float: left;
}
.content-rating{
    display: inline-block;
}
#rating-feedback .popup-footer .form-footer .submit,
#rating-feedback .popup-footer .form-footer .cancel {
    float: left;
    padding-top: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 0 43px rgba(0, 0, 0, 0.07);
    width: 30%;
    height: 62px;
    background-color: #efefef;
    color: #444444;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}
#rating-feedback .popup-footer .form-footer .submit {
    width: 65%;
    margin-left: 5%;
    color: #23ce00;
    background: #fff;
}
#rating-feedback .popup-footer .form-footer .submit:hover {
    color: #fff;
    background: #23ce00;
}
#rating-feedback .popup-footer .form-footer .submit.is-submitted {
    color: #23ce00;
    background: #23ce00 url(/static/images/loading-white.gif) no-repeat center center;
    background-size: 25px;
}
#rating-feedback .popup-footer .form-footer .submit.error {
    background: red;
    color: #fff;
}
#rating-feedback .feedback-title {
    font-size: 30px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 500;
}
#rating-feedback .feedback-subtitle {
    font-size: 14px;
    color: #8e8e93;
    margin: 5px 0px;
    line-height: 16px;
}
#rating-feedback textarea {
    resize: none;
    background-color: #fafafa;
    color: #9da3a6;
    font-size: 14px;
    margin-top: 20px;
    width: 100%;
    height: 150px;
    padding: 10px 5px;
}
#rating-feedback .error-msg {
    display: none;
    font-size: 12px;
    color: red;
    float: left;
}
#rating-feedback .counter {
    font-size: 12px;
    color: #c7c7c7;
    float: right;
}
#rating-feedback .popup-footer {
    border: none;
}
#rating-feedback .popup-footer {
    width: 100%;
    height: 49px;
    font-size: 14px;
    text-transform: uppercase;
    clear: both;
    position: relative;
}   

/* sample exchange home page block starts here */
.samples-exchange-banner {
    background: #f8f8f8;
    padding: 20px 15px;
    margin: 0 0 18px 0;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 15px;
    height: 175px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
}
.samples-exchange-banner h1 {
    color: #217a9c;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    margin: 15px 0px;
}
.samples-exchange-banner p {
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}
.samples-exchange-banner .img-holder {
    margin-top: 24px;
    width: 120px;
    margin: 0px auto;
}
.samples-exchange-banner .img-holder img {
    width: 100%;
    height: auto;
}
.sample_preview .author, .sample .author, p.author {
    color: #8e8e93;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
/* sample exchange home page block ends here */

/*search site css start */

.search-site-block {
    position: relative;
    z-index: 99;
    margin-top: 35px;
}
.search-site-block:before,
.sample_exchange .search-site-block:before {
    position: absolute;
    content: "";
    background: url(/static/images/vmware/sprite.png) no-repeat;
    background-position: 0 0;
    background-size: 32px;
    width: 15px;
    height: 15px;
    z-index: 1;
    left: 12px;
    top: 18px;
}
.header-right-block .search-site-block:before {
    left: 27px;
}
.search-site {
    background: #f1f0f2;
    padding: 17px 35px;
    border-radius: 10px;
    position: relative;
    color: #1e1e1e;
}
.grayout {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    display: none;
}
body.searched header.container {
    margin: 0;
}
.search-active.searched {
    overflow: hidden;
}
.search-active [data-attr="cancel-search"] {
    display: block;
}
.search-active header {
    background: #fff;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}
.searched header {
    border-bottom: 1px solid #cdced3;
}
.search-active .header-left-block {
display: none;
}
.search-active .header-right-block {
    margin: 0 auto;
    float: none;
}
.search-result-wrapper {
    width: 100%;
    position: fixed;
    top: 150px;
    left: 0;
    background: #fff;
    z-index: 99;
    height: calc(100% - 150px);
    overflow-y: auto;
}
.search-result-wrapper .search-container {
    position: relative;
}
.search-content-list {
    margin: 0 auto;
    float: none;
}
.search-container {
    min-height: 100%;
}
.search-header {
    margin: 0px 12px;
    padding: 20px 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #fff;
    z-index: 9;
}
.search-header h4 {
    color: black;
    font-size: 36px;
    font-weight: 500;
    line-height: 35px;
    display: inline-block;
}
.search-result-count {
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
}
#toggle-search-apps {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    position: relative;
    height: 16px;
    width: 35px;
    border-radius: 10px;
    box-shadow: inset -20px 0px 0px 1px rgba(192, 192, 192, 0.5);
    background-color: white;
    border: 1px solid rgba(192, 192, 192, 1);
    outline: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 20px 0 20px;
    cursor: pointer;
}
#toggle-search-apps:checked {
    box-shadow: inset 20px 0px 0px 1px rgba(35, 206, 0, 1);
    border: 1px solid rgba(32, 184, 1, 1);
}
#toggle-search-apps:after {
    position: absolute;
    color: #414141;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    content: "Search All Apps";
    width: 110px;
    left: 44px;
}
.searched-from-app,
.searched-result-text {
    display: inline;
    color: #7c7b82;
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    text-transform: uppercase;
}
input.switch::-ms-check {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
}
.search-apps-list {
    display: block;
    position: fixed;
    top: 170px;
    width: 160px;
    margin-left: -50px;
    padding-left: 0;
}

.search-apps-list li {
    color: #7c7b82;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    padding: 0 10px;
    cursor: pointer;
    text-transform: capitalize;
    width: 180px;
}

.total-count,
.result-count {
    float: right;
    font-size: 14px !important;
}

.search-apps-list li:hover {
    color: #000;
}
.search-apps-list li.active {
    background-color: #f1f0f2;
    border-radius: 6px;
}
div.search-no-result {
    display: none;
}
div.search-no-result.active {
    display: block;
    color: #b6b6b6;
    padding: 35px 20px;
    font-size: 12px;
    text-align: center;
    flex-flow: column;
}
.scroll-to-top {
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #414141;
    border: 2px solid #f1f0f2;
    box-shadow: 0 0 27px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    bottom: 10px;
    right: 200px;
    display: none;
}
.scroll-to-top:before {
    position: absolute;
    content: "";
    background-image: url(/static/images/vmware/sprite.png);
    background-repeat: no-repeat;
    background-position: 3px -118px;
    background-size: 31px;
    width: 17px;
    height: 20px;
    top: 0;
    right: 2px;
    margin: auto;
    left: 0;
    bottom: 0;
}
.search-active [data-attr="cancel-search"] {
    display: block;
}
.search-active .header-left {
    display: none;
}
.search-active header {
    padding: 52px 0px;
}
.search-active .search-site-block {
    margin: 0px;
}
.search-active .header-right {
    margin: 0px auto;
    float: none;
}
.search-data .sample_preview {
    margin: 11px 0px;
}
/*search site css ends */

/* Search style starts here */
.search-site-block {
    position: relative;
    z-index: 99;
}
.search-data {
    width: 100%;
    left: 0;
    padding: 5px 25px 25px 25px;
}
.search-list {
    display: table;
    width: 100%;
    background: #fff;
    height: 120px;
    text-align: left;
    margin-top: 30px;
    border-radius: 7px;
}
.search-list .col-xs-2:not(.app-icon) {
    text-align: center;
    display: table-cell;
    float: none;
    border-radius: 15px;
    height: 122px;
    vertical-align: middle;
    padding: 5px;
}
span.search {
    border-radius: 0 !important;
}
span.search {
    height: 60px;
    vertical-align: middle;
    top: 30px;
    padding: 5px;
}
.search-list .col-xs-2:not(.app-icon) img {
    width: auto;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}
.search-chapter-detail {
    display: table-cell;
    vertical-align: middle;
    padding: 20px 20px;
    float: none;
    text-align: left;
}
.search-chapter-title {
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    line-height: 20px;
    max-height: 40px;
    color: #000;
    text-transform: capitalize
}
.search-chapter-breadcrumb {
    color: #b3b3b3;
    font-size: 11px;
    max-height: 22px;
    font-weight: 500;
    background-color: transparent;
    padding: 0;
    margin-top: 10px;
    overflow: hidden;
}
.search-site-block .jcf-scrollbar-vertical {
    border-radius: 0px;
    width: 6px;
    bottom: 0;
    right: 0px;
    top: 0;
}
.search-site-block .jcf-scrollbar-slider {
    background: rgba(167, 167, 167, 0.3);
    border-radius: 4px;
}
.search-content-list .sample_preview .sample-details {
    width: calc(100% - 155px);
}
.search-list.library-app {
    -webkit-box-shadow: 0px 0px 8px 1px rgba(50, 50, 50, 0.58);
    -moz-box-shadow: 0px 0px 8px 1px rgba(50, 50, 50, 0.58);
    box-shadow: 0px 0px 8px 1px rgba(50, 50, 50, 0.58);
}
.jcf-scrollbar-handle {
    background: #333;
    opacity: 0.9;
    border-radius: 4px;
    height: 1px;
    border-radius: 4px;
    width: 6px;
    max-height: 100%;
}
.app-icon {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 18px;
    margin-left: 5px;
    padding: 40%;
    position: relative;
}
.app-details:hover .app-icon {
    box-shadow: 0 0 4px 1px #ccc;
}
.app-icon img {
    width: 40%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.app-details {
    margin-bottom: 15px;
    display: block;
}
.app-details h6 {
    line-height: 18px;
    color: #000;
    padding-bottom: 8px;
}
.app-details p {
    font-size: 14px;
    color: #828b90;
    line-height: 18px;
    min-height: 36px;
}
.library-app .app-icon {
    background-color: rgba(138, 173, 225, 1);
    background: linear-gradient(
        to top,
        rgba(78, 102, 166, 1),
        rgba(138, 173, 225, 1)
    );
}
.pathfinder-app .app-icon {
    background-color: rgba(161, 164, 223, 1);
    background: linear-gradient(
        to top,
        rgba(110, 103, 208, 1),
        rgba(161, 164, 223, 1)
    );
}
.checklist-app .app-icon {
    background-color: #ffb82e;
    background: linear-gradient(to top, #c85f18 0%, #ffb82e 100%);
}
.quiz-app .app-icon {
    background-color: #0fc7a4;
    background: linear-gradient(to top, #2f7e99 0%, #0fc7a4 100%);
}
.faq-app .app-icon {
    background-color: #40435b;
    background: linear-gradient(to top, #2b2e43 0%, #2b2e43 0%, #40435b 100%);
}
.pitch-app .app-icon {
    background-color: #63DDF2;
    background: linear-gradient(to top, #346EE1 0%, #63DDF2 100%);
}
.section-related-journey{
    background-color: #40435b;

}
.section-journey-header{
    margin: 35px 0px 26px;
    color: #fff;
    height: 40px;
}
.section-journey-header h1{
    font-size: 36px;
    font-weight: 500;
    float: left;
}
.section-journey-header a{
    float: right;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}
.journey-title{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
}

@media (max-width: 991px) and (min-width: 320px) {
    #main_container .vmw-social-share {
      right: 15px;
      left: auto;
      top: 10px;
    }
    .search-site-block,
    .vmw-logo-holder {
      margin-top: 65px;
    }
    .header-right-block {
      z-index: 90;
    }
    .search-result-count {
        float: none !important;
    }
    .search-container {
        display: flex;
    }
    #search-app-list-block, .search-content-list {
        padding: 0;
    }
    .search-header {
        margin: 0px 5px;
        padding: 5px;
    }
    .search-data {
        padding: 15px;
    }
    .show-search-filter .search-apps-list {
        display: block !important;
        position: sticky;
        position: -webkit-sticky;
        top: 60px;
        width: auto;
        margin-left: 0;
    }
    .toggle-search-filter {
        position: sticky;
        position: -webkit-sticky;
        top: 10px;
    }
}
@media (max-width: 767px) and (min-width: 320px) {
    .search-site-block {
      margin-top: 20px;
    }
    .search-site-block .clear-search {
        right: 20%;
    }
}