<div class="tag-wrap">
    <div class="col-xs-10">
        <div class="tag">{{#if name}}{{name}}{{else}}{{this}}{{/if}}</div>
    </div>
    <div class="col-xs-2  journey-delete-tag">
        <img src="/static/images/icon-delete3.png">
    </div>        
</div> 