<div class="welcome_msg journey-wrap" >
    <div class="welcome_txt">
        <h1>Welcome to Journeys</h1>
        <p>Group content that exists in your library to create meaningful journeys.</p>
    </div>
</div>