{{#if layout_one}}
	<div class="col-sm-12 layout">
		<img src="/static/images/author/imagethumb.png"  align="right" width="50%" style="margin-right:0px;" />
		<h1>Title</h1>
		<p>Write Something</p>
	</div>
{{/if}}

{{#if layout_two}}
	<div class="col-sm-12 layout">
		<img src="/static/images/author/imagethumb.png"  align="left" width="50%" style="margin-right:0px;" />
		<h1>Title</h1>
		<p>Write Something</p>
	</div>
{{/if}}

{{#if layout_three}}
	<div> 
		<div class="col-sm-6 ">
			<h1>Title</h1>
			<p>Write Something</p>
		</div>
		<div class="col-sm-6 ">
			<img src="/static/images/author/imagethumb.png"  />
			<img src="/static/images/author/imagethumb.png"  />
		</div>
	</div>
{{/if}}

{{#if layout_four}}
	<div> 
		<div class="col-sm-6 ">
			<img src="/static/images/author/imagethumb.png"  />
			<img src="/static/images/author/imagethumb.png"  />
		</div>
		<div class="col-sm-6 ">
			<h1>Title</h1>
			<p>Write Something</p>
		</div>
	</div>
{{/if}}