<!-- Text editor -->
<div class="text-editor-wrap">
    <div class="toolbar-wrap" style="margin-bottom: 16px;">
    	<div class="select-layout">
			<div class="layout-selection">
				<ul>
					<li data-layout="1">
						<img src="/static/images/author/layout1.png">
					</li>
					<li data-layout="2">
						<img src="/static/images/author/layout2.png">
					</li>
					<li data-layout="3">
						<img src="/static/images/author/layout3.png">
					</li>
					<li data-layout="4">
						<img src="/static/images/author/layout4.png">
					</li>
				</ul>
			</div>
		</div>
        <div id="toolbar" style="margin-bottom: 16px;">
        </div>
        <div class="content-done">{{i18n 'done'}}</div>
        <div class="content-saving"></div>
    </div>
    <div class="content-editor-wrap content-slide-wrap {{document_styles}}">
    	Lorem ipsum
    </div>
</div>