<div class="col-md-12 col-sm-12 pwt-wrap">
    <div class="pwt-box" slug="{{section.slug}}">
        <div class="left">
            <div class="outer-circle">
                <div class="inner-circle">
                    <div class="progress">
                        <div class="icon-down-arrow">
                            <img src="{{icon}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="title">{{section.name}}</div>
            <div class="pwt-description">{{section.description}}</div>
        </div>
    </div>
</div>
