<div class="search-results" id="search-Results">
    {{#each results}}
        <div class="result">
            <a href="{{link}}" target="_blank" class="card-heading">{{title}}</a>
        </div>
    {{/each}}
</div>