{% extends 'tenants/seo/avaya/base.html' %}

{% block seo %}
    {% set icon = api['icon']['url'] if api['icon'] else None %}
    {% if not icon %}
    {% set icon = api['parent']['icon']['url'] if api['parent'] and api['parent']['icon'] else None %}
    {% endif %}
    {% if not icon %}
    {% set icon = api['product']['icon']['url'] if api['product'] and api['product']['icon'] else None %}
    {% endif %}
    {{load_seo_meta(title=api['name'] + ' | ' + api['tenant']['name'], description=api['description'], image=icon)}}
{% endblock %}

{% block container %}
<div id="content-section" class="container-block">
    <div class="split-main-container">
        {{ header() }}
        <div id="playlist" class="right-side-panel">
                {{ translation_wrapper() }}
                <div class="left-sidebar">
                    {% set product_id = None %}
                    {% set parent_id = None %}
                    {% if api['parent'] %}
                        {% set product_id = api['product']['slug'] %}
                        {% set parent_id = api['parent']['slug'] %}
                    {% endif %}
                    {% if not api['product']['is_private'] %}
                    {{ social_share() }}
                    {% endif %}
                    {% set list_view = True %}
                    {% set pl_with_chapter = False %}
                    {% if api['playlists']|length > 1 %}
                        {% set wt_list = [] %}
                        {% for pl in api['playlists'] %}
                            {% if pl['walkthroughs']|length > 0 %}
                                {% if wt_list.append(0) %}{% endif %}
                            {% endif%}
                        {% endfor %}
                        {% set list_view = wt_list|length <= 1 %}
                        {% set pl_with_chapter = wt_list|length > 0 %}
                    {% elif api['playlists'] and api['playlists'][0]['walkthroughs'] %}
                        {% set pl_with_chapter = True %}
                    {% endif %}
                    {% if api['tenant']['can_download'] and api['can_download'] and pl_with_chapter %}
                        {% set can_download = True %}
                    {% endif %}
                </div> 
                <section>
                    <div class="row heading">
                        <div class="{% if api['videos'] %} col-md-7 {% else %} col-md-12 {% endif %}">
                            <h2>{{api['name']}}</h2>
                            <p>{{api['description'] or ''}}</p>
                            {% if can_download %}
                            <a class="export-pdf" data-section-slug="{{api['slug']}}" >
                                {{_('export to pdf')}}
                            </a>
                            {% endif %}
                            {{ cta_list(api['cta_list']) }}
                        </div>
                        <div class="col-xs-6 col-sm-5 col-md-3 video-link-block">
                            {{ videos() }}
                        </div>
                        {{ search() }}
                    </div>
                </section>
                {% if pl_with_chapter %}
                <main data-playlist={{list_view}}>
                    <div class="container-header">
                        <h6>{{_('playlists')}}</h6>
                        <div class="playlist-view-opt">
                            <a id="playlist-thumbnail-view" data-toggle="thumbnail"></a>
                            <a id="playlist-row-view" data-toggle="row"></a>
                        </div>
                    </div>
                    <section class="row playlist-list" data-attr="thumbnail-view" style="display:none;">
                        {% for playlist in api['playlists'] %}
                            {% if playlist['walkthroughs'] %}
                            <div class="col-xs-12 col-sm-6 col-md-4 playlist-block">
                                <div class="playlist-container">
                                    {% if playlist['translations_available'] %}
                                    <div class="translation-icon" data-overlay="language-translations" data-language-options='{{playlist['locales_available']|tojson}}'></div>
                                    {% endif %}
                                    {% if can_download %}
                                        <div
                                            class="pdf-icon-thumbnail-view export-pdf {% if playlist['translations_available'] %}with-trans-icon{% endif %}"
                                            data-section-slug="{{api['slug']}}"
                                            data-playlist-id="{{playlist['playlist_id']}}"
                                            title="Export To PDF" >
                                            <img data-src="{{url_for('static', filename='images/download-gray.svg')}}" class="lazy-load"/>
                                        </div>
                                    {% endif %}
                                    <div class="playlist-header">
                                        <h3>{{playlist['name']}}</h3>
                                        <p class="chapter-desc"><span class="min-chapter-desc">{{playlist['description'] or ''}}</span></p>
                                    </div>
                                    <ul class="chapters-list">
                                        {% for demo in playlist['walkthroughs']%}
                                        <li>
                                            {% if api['product']['slug'] == api['slug'] %}
                                            <a href="{{url_for('main.launchpad', section=api['product']['slug'], chapter=demo['slug'])}}" class="playerframe-link" data-product-id="{{api['product']['slug']}}" data-section-id="{{api['slug']}}" data-chapter-id="{{demo['slug']}}">
                                            {% else %}
                                            <a href="{{url_for('main.launchpad', section=api['slug'], chapter=demo['slug'])}}" class="playerframe-link" data-product-id="{{api['product']['slug']}}" data-section-id="{{api['slug']}}" data-chapter-id="{{demo['slug']}}">
                                            {% endif %}
                                                <div class="chapter-index-block">
                                                    <div class="chapter-index">{{loop.index}}</div>
                                                </div>
                                                <div class="chapter-title">{{demo['name']}}</div>
                                            </a>
                                            {% if demo['tags']|length > 0 %}
                                                <div class="tags-block">
                                                    <ul class="playlist-tags">
                                                        {% for tag in demo['tags'] %}
                                                            <li>{{ tag }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </section>
                    <section class="row playlist-list" data-attr="row-view" style="display:none;">
                        {% for playlist in api['playlists'] %}
                            {% if playlist['walkthroughs'] %}
                            <div class="col-xs-12">
                                <div class="playlist-container">
                                    {% if playlist['translations_available'] %}
                                    <div class="translation-icon" data-overlay="language-translations" data-language-options='{{playlist['locales_available']|tojson}}'></div>
                                    {% endif %}
                                    {% if can_download %}
                                        <div
                                            class="pdf-icon-row-view export-pdf {% if playlist['translations_available'] %}with-trans-icon{% endif %}"
                                            data-section-slug="{{api['slug']}}"
                                            data-playlist-id="{{playlist['playlist_id']}}"
                                            title="Export To PDF" >
                                            <img data-src="{{url_for('static', filename='images/download-gray.svg')}}" class="lazy-load"/>
                                        </div>
                                    {% endif %}
                                    <div class="playlist-header col-sm-6 col-md-6">
                                        <h3>{{playlist['name']}}</h3>
                                        <p>{{playlist['description'] or ''}}</p>
                                    </div>
                                    <ul class="chapters-list col-sm-6 col-md-6">
                                        {% for demo in playlist['walkthroughs']%}
                                        <li>
                                            {% if api['product']['slug'] == api['slug'] %}
                                            <a href="{{url_for('main.launchpad', section=api['product']['slug'], chapter=demo['slug'])}}" class="playerframe-link" data-product-id="{{api['product']['slug']}}" data-section-id="{{api['slug']}}" data-chapter-id="{{demo['slug']}}">
                                            {% else %}
                                            <a href="{{url_for('main.launchpad', section=api['slug'], chapter=demo['slug'])}}" class="playerframe-link" data-product-id="{{api['product']['slug']}}" data-section-id="{{api['slug']}}" data-chapter-id="{{demo['slug']}}">
                                            {% endif %}
                                                <div class="chapter-index-block">
                                                    <div class="chapter-index">{{loop.index}}</div>
                                                </div>
                                                <div class="chapter-title">{{demo['name']}}</div>
                                            </a>
                                            {% if demo['tags']|length > 0 %}
                                                <div class="tags-block">
                                                    <ul class="playlist-tags">
                                                        {% for tag in demo['tags'] %}
                                                            <li>{{ tag }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </section>
                </main>
                {% endif %}
            
            {{ footer() }}
        </div>
    </div>
</div>
{% endblock %}

{% block sub_scripts %}
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script type="text/javascript">
    document.isUserAnonymous = true;
    {% if g.user and g.user.is_active() %}
        document.isUserAnonymous = false;
    {% endif %}
    document.apps = JSON.parse('{{apps|tojson}}');
    document.app_name = "library";
    document.tenantFooterImage = "{{tenant.logo or ''}}";
    document.viewType = "{{view_type}}";
    document.product = "{{api['product']['slug']}}";
    document.section = "{{api['slug']}}";
    document.locales = JSON.parse('{{api["locales"]|tojson}}');
    document.page = 'Playlist';
</script>
<script src="{{ url_for('static', filename='js/seo/common/activitylogger.js') }}"></script>
<script src="{{ url_for('static', filename='js/seo/avaya/views/playlist.js')}}"></script>
{% endblock %}
