{% extends 'layouts/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}" />
{% endblock %}

{% block container %}
    <div id="root"></div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='libs/RecordRTC/RecordRTC.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/RecordRTC/EBML.js') }}"></script>
    <script type="text/javascript">
        document.logo = "/static/media/{{tenant.logo}}"
        document.querySelector("link[rel*='shortcut']").href = "{{tenant.favicon}}"
        {% if g.user.is_active() %}
            document.isAuthor = "true";
        {% endif %}
        document.canEdit = "{{can_edit}}"
    </script>
    <script src="{{ url_for('static', filename='js/build/apps/pitch/main.js') }}"></script>
{% endblock %}
