<div class="bulletin-browse-link-popup hidden">
    <div class="popup-title camel-case">{{i18n 'select content'}}</div>
    <div class="popup-back-icon trigger-inplace-popup" data-hidePopup="bulletin-browse-link-popup" data-showPopup="create-bulletin-popup"></div>
    <div class="content-block">
        <ul id="bulltein-sitemap" class="sitemap-tree">
            <img class="loading-icon" src="/static/images/loading_icon.gif" />
        </ul>
    </div>
    <div class="popup-footer">
        <div class="form-footer">
            <div class="back rippleEffect trigger-inplace-popup" data-hidePopup="bulletin-browse-link-popup" data-showPopup="create-bulletin-popup">{{i18n 'back'}}</div>
            <div class="save suggestions_selected" data-hidePopup="bulletin-browse-link-popup" data-showPopup="create-bulletin-popup">{{i18n 'save'}}</div>
        </div>
        </div>
    </div>
</div>