{% extends 'dashboard/dashboard_submenu/quiz.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz/reports.css') }}" />
{% endblock %}

{% block dashboard_content_container %}
    <div id="reports-block" class="work-area container_data">
        <div class="back-button">
            <div class="back-to-report">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span class="all-quiz">All Quizzes</span>
            </div>
        </div>
        <div class="library_filter row shadow">
            <div class="dashboard_sub_title">Metrics for:</div>
            <div class="time-interval-dd">
                <span class="interval">last 7 days</span>
                <ul class="dd-menu" id='metrics'>
                    <li data-attr='today' data-title='today'>today</li>
                    <li data-attr='yesterday' data-title='yesterday'>yesterday</li>
                    <li data-attr='week' data-title='Last 7 Days' class="active">1 week</li>
                    <li data-attr='month' data-title='Last 1 month'>1 month</li>
                    <li data-attr='quarter' data-title='Last 3 months'>3 months</li>
                    <li data-attr='half-year' data-title='Last 6 months'>6 months</li>
                    <li data-attr='year' data-title='Last 12 months'>12 months</li>
                    <li data-attr='custom' data-title='Custom Days'>Custom</li>
                </ul>
            </div>
            <div class="custome-dropdown">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 custome-date">
                        <div class="dashboard-sub-title">
                            From
                        </div>
                        <input id="from-date" type="text" name="from-date" class='datepicker-here' readonly="true">
                    </div>
                    <div class="col-sm-6 col-xs-12 custome-date">
                        <div class="dashboard-sub-title">
                            To
                        </div>
                        <input id="to-date" type="text" name="to-date" class='datepicker-here' readonly="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="report-container"></div>
        <div class="popup-overlay"></div>
    </div>
{% endblock %}
{% block sub_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='libs/air-datepicker/js/datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/air-datepicker/js/lang/datepicker.en.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/build/apps/quiz/reports.js') }}"></script>
{% endblock sub_scripts%}