{% extends 'layouts/dashboard.html' %}

{% block dashboard_container %}
	<ul class="nav nav-pills">
		<li role="overview"><a href="javascript:void(0);" class="active" >Account Settings</a></li>
	</ul>
	<div class="dashboard-work-area">
		<div class="dashboard_inner shadow account-settings">
	       	<ul class="account-setting-tabs nav nav-pills">
	       		<li class="active"><a data-toggle="pill" href="#profile">profile</a></li>
	       		<li><a data-toggle="pill" href="#password">password</a></li>
	       	</ul>
	       	<div class="tab-content">
			  	<div id="profile" class="tab-pane fade in active">
			  		<div class="block row">
			  			<form id="profile-settings" class="col-xs-12" name="profile-settings" target="_self">
			  				{% set csrf_data = csrf_token() %}
                    		<input type="hidden" name="csrf_token" value="{{ csrf_data }}"/>
				  			<div class="col-sm-12">
								<div class="col-xs-12 col-md-4">
									<p class="title mandatory-field">FIRST NAME</p>
									<p class="sub-title">Enter your first name.</p>
									<input type="text" id="fname" class="trim-input" name="fname" autocomplete="off" value="{{fname}}">
								</div>
								<div class="col-xs-12 col-md-4 pull-right">
									<p class="title">LAST NAME</p>
									<p class="sub-title">Enter your last name.</p>
									<input type="text" id="lname" class="trim-input" name="lname" autocomplete="off" value="{{lname}}">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="col-xs-12 col-md-4">
									<p class="title mandatory-field">PRIMARY EMAIL</p>
									<p class="sub-title">Enter your primary email address.</p>
									<input type="text" id="email" name="email" autocomplete="off" value="{{email}}" disabled>
								</div>
								<div class="col-xs-12 col-md-4 pull-right">
									<p class="title">PROFILE PICTURE</p>
									<p class="sub-title">Upload a JPG or PNG profile image of yourself.</p>
									<div class="profile_pic_block">
										<div class="profile_pic_img">
											<img class="profile-img" id="default-profile-pic" data-name="{{g.user.initials}}" picture-url="{{g.user.profile_picture_url or ''}}">
										</div>
										<div class="upload_profile_pic">
											<p class="profile_pic_size">500 x 500 pixels max.</p>
											<div class="custom_browser_btn">
												<input type="file" class="profile_upload_btn">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="pull-right">
								<div class="button-wrap">
	                                <input class="button save ripple" type="submit" value="SAVE">
	                                <div onclick="history.go(-1); return false;" class="button cancel ripple">CANCEL</div>
		                        </div>
							</div>
						</form>
			  		</div>
			  	</div>
			  	<div id="password" class="tab-pane fade">
				    <div class="block row">
			  			<form id="password-settings" class="col-xs-12" name="password-settings" target="_self">
							<div>
								<p class="title mandatory-field">CURRENT PASSWORD</p>
								<p class="sub-title">Type your current password.</p>
								<input type="password" id="current_password" name="password" autocomplete="off">
							</div>
							<div>
								<p class="title mandatory-field">NEW PASSWORD</p>
								<p class="sub-title">Type your new password.</p>
								<input type="password" id="new_password" name="new_password" autocomplete="off">
							</div>
							<div>
								<p class="title mandatory-field">CONFIRM NEW PASSWORD</p>
								<p class="sub-title">Confirm your new password.</p>
								<input type="password" id="confirm_new_password" name="confirm_new_password" autocomplete="off">
							</div>
							<div class="pull-right">
								<div class="button-wrap">
	                                <input class="button save ripple" type="submit" value="SAVE">
	                                <div onclick="history.go(-1); return false;" class="button cancel ripple">CANCEL</div>
		                        </div>
							</div>
						</form>
			  		</div>
			  	</div>
			</div>
	    </div>
    </div>
{% endblock %}
{% block sub_scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript">
		document.isAuthor = "{{g.user.is_author()}}" === 'True';
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/account_settings.js') }}"></script>
{% endblock sub_scripts %}
