<div class="pf-gray-bg"></div>
<div id="pf_save_popup">
	<div class="save_header">
		<h4>Your <i>suggestions</i>, ready for you.</h4>
		<p>Enter your email address and save these suggestions.</p>
	</div>
	<p>Brew a cup, we'll email you these custom suggestions.</p>
	<div class="pf_receiver_details">
		<input type="email" placeholder="Your Email Address" name="pf-email" id="pf-email" autocomplete="off">
		<input type="button" class="submit_suggestion" value="send me this list" />
	</div>
	<div class="pf_success_block">
		<div class="success_icon"></div>
		<div class="pf_success_msg">Your custom suggestions have been sent!</div>
	</div>
	<div class="suggestion_note">Don’t worry, we won’t spam.</div>
</div>