<div class="overlay">
    <div class="error-info">
        <h1>Something Went Wrong</h1>
        <div class="error-block">
            <div class="error-img"></div>
            <div class="error-msg">{{this}}</div>
        </div>
        <div class="popup-error-footer">
            <div class="fix-error">Fix Errors</div>
        </div>
    </div>
    </div>
</div>
