<div class="overlay">
    <div class="loading-exp">
        <h1>Connecting...</h1>
        <div class="loading-spinner">
            <div class="loading-animation">
                <div></div>
            </div>
        </div>
    </div>
</div>