<div class="welcome_msg integrations-wrap" >
    <div class="welcome_txt">
        <h1>Welcome to Integrations</h1>
        <p>Add an integration to import content from a third party content manager</p>
    </div>
</div>