html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
	font-family: 'Gotham Rounded A','Gotham Rounded B', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #1e1e1e;
}

h1 {
	font-size: 45px;
	color: #41435c;
}
h2 {
    font-size: 36px;
}
h4 {
	font-size: 18px;
}
h5 {
    color: #444444;
}
p {
	color: #86888b;
	font-size: 18px;
}
a {
    color: #066afe;
}
.greyout_bg {
	display: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: fixed;
    z-index: 10000;
}
iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}
/* Browser warning style */
#browser_warning_popup {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 101;
}
.ancient_browser_warning {
    z-index: 999;
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    padding: 25px;
    text-align: left;
    border-radius: 10px;
}
.ancient_browser_warning h5 {
    color: #000;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 500;
}
span.out-of-date {
    color: #f50b0b;
}
.ancient_browser_warning p {
    color: #6b6b6b;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
}
.popular_browser_icons {
    margin: 20px 0;
    text-align: center;
}
.popular_browser_icons #firefox_icon {
    display: inline-block;
    background: url(/static/images/firefox_icon.jpg) no-repeat;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: 65%;
}
.popular_browser_icons #safari_icon {
    display: inline-block;
    background: url(/static/images/safari_icon.jpg) no-repeat;
    width: 100px;
    height: 100px;
    background-position: center;
    margin: 0 30px;
    background-size: 65%;
}
.popular_browser_icons #chrome_icon {
    display: inline-block;
    background: url(/static/images/chrome_icon.jpg) no-repeat;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: 65%;
}
.popular_browser_icons a {
    box-shadow: 0 0 16px 0 rgba(168,175,186,0.3);
    border-radius: 10px;
}
.popular_browser_icons a:hover {
    border: 1px solid #4885ee;
    box-shadow: 0px 0px 16px 3px #ccc;
    box-shadow: 0 0 16px 0 rgba(168,175,186,0.3);
}
.ancient_browser_warning .nothanks_msg {
    padding: 20px 0 5px;
    border-top: 1px solid #ccc;
    cursor: pointer;
}
/* Transparent nav style */
.fixed-header.nav-transp-style {
    background: transparent;
    border: none;
}
.fixed-header.nav-transp-style .logo,
.fixed-header.nav-transp-style .help-logo,
.fixed-header.nav-transp-style .navbar-inverse .navbar-nav>li>a:hover,
.fixed-header.nav-transp-style .navbar-inverse .navbar-nav>.open>a:focus,
.fixed-header.nav-transp-style .navbar-inverse .navbar-nav>.open>a:hover,
.fixed-header.nav-transp-style .navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
}
.fixed-header.nav-transp-style .menu-item .dropdown-toggle:after {
    border-top-color: #fff;
}
.fixed-header.nav-transp-style .navbar-inverse .navbar-nav>li>a.sign-up, .take_back_home {
    color: #066afe;
    background: #fff;
}
.nav-transp-style .menu-dropdown:after {
    border-top: 7px solid #fff;
}
.unautho-style {
    margin: 40px auto;
    text-align: center;
}
.take_back_home, .take_back_home:hover {
    background: #4885ee;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    padding: 10px 58px;
    margin-top: 22px;
    display: inline-block;
}
/* Fixed header style */
.fixed-header {
    position: fixed;
    top: 0;
    padding: 0px 70px!important;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    border-bottom: 1px solid #DDE5ED;
}
.fixed-header .logo {
    outline: none;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: 700;
    line-height: 77px;
    color: #066afe;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
}
.fixed-header .navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.fixed-header .navbar {
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    position: static;
}
.fixed-header .navbar-inverse .navbar-nav>li>a {
    position: relative;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #444;
    cursor: pointer;
    text-decoration: none;
    padding: 28px 10px 29px;
    background: transparent;
}
.scroll-fixed-header .navbar-nav li a > span, .fixed-header .navbar-nav li a > span, .faq-lft ul li a {
    position: relative;
    padding-bottom: 3px;
}
.nav-transp-style .menu-item.show-submenu .menu-dropdown:after {
    border-top: none;
    border-bottom: 7px solid #fff;
}
.fixed-header .navbar-inverse .navbar-nav>li>a.sign-up {
    background: #066afe;
    color: #fff;
    border-radius: 20px;
    padding: 8px 20px;
    margin-top: 20px;
}
.menu-dropdown {
    position: relative;
}
.menu-item .dropdown-list {
    display: none;
}
.menu-item.show-submenu .dropdown-list {
    display: block;
    width: 390px;
    border: 1px solid #dedede;
    border-radius: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    padding: 0 40px;
    background: #fff;
    top: 77px;
}
.dropdown-list li {
    list-style: none;
    font-size: 14px;
    color: #41435c;
    margin: 40px 0;
}
.dropdown-list li h5 {
    font-size: 16px;
    color: #41435c;
}
.dropdown-list li p {
    color: #818c8e;
    font-size: 14px;
}
.dropdown-list li a {
    text-decoration: none;
}
.dropdown-list li:hover h5 {
    color: #066afe;
}
.dropdown-list:before {
    content: "";
    position: absolute;
    background: url('/static/images/menu_arrow.png') ;
    width: 20px;
    height: 10px;
    left: 50%;
    background-size: 100%;
    top: -9px;
}
/* common layout style */
.content-block {
    padding-left: 70px;
    padding-right: 70px;
}
.request-demo, .watch-video {
    display: inline-block;
    font-weight: 500;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    padding: 15px 56px;
    color: #1e1e1e;
    position: relative;
    box-shadow: 0px 0px 10px 0px #ccc;
    cursor: pointer;
}
.ctas {
    font-size: 12px;
    margin-top: 50px;
}
.watch-video {
    margin-left: 35px;
}
.video_play_icon {
    border: 1px solid #d9d9d9;
    width: 44px;
    height: 43px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
}
.video_play_icon:before {
    position: absolute;
    width: 10px;
    height: 10px;
    display: block;
    content: "";
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #066afe;
    left: 17px;
    top: 14px;
}
/* footer style */
#footer {
     position: relative;
     text-align: center;
}
#footer .signup-area {
    margin: 140px auto;
    border: 1px solid #e2e2e2;
    width: 60%;
    padding: 90px 0 70px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px #ccc;
    text-align: center;
}
#footer .signup-area .title1 {
    margin-bottom: 10px;
    font-weight: inherit;
    text-align: center;
    color: #41435c;
}
#footer .enter_email {
    display: inline-block;
    margin: 35px 0 80px;
}
.enter_email .form-field-block {
    margin-bottom: 0;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 5px 4px;
}
.enter_email form input {
    outline: none;
    border: none;
    padding: 0 15px;
    width: 360px;
}
.enter_email form span input {
    background: transparent;
    border: 0;
    padding: 12px 20px;
    outline: none;
    width: auto;
}
.enter_email span {
    background: #066afe;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
}
#footer .signup-area p {
    color: #8c8f94;
    font-size: 14px;
    margin-bottom: 20px;
}
.footer-block {
    padding: 45px 0px;
    border-top: 1px solid #e2e2e2;
}
.footer-links {
    width: 999px;
    text-align: left;
    display: table;
    margin: 0px auto;
}
.footer-left .footer_logo {
    outline: none;
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: #076bfe;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}
.footer-left p {
    margin: 5px;
    font-size: 10px;
    color: #9da3a6;
    line-height: 10px;
}
.footer-center {
    padding-right: 5%;
    padding-left: 0px;
}
.footer-block h6 {
    font-size: 10px;
    color: #9a9a9a;
}
.footer-links ul {
    display: inline-block;
    padding: 0px;
}
.footer-links li {
    text-transform: capitalize;
    list-style: none;
    margin: 10px 0px;
}
.join-us-on {
    border-top: 1px solid #151516;
}
.social-icons li {
    display: inline-block;
    margin: 0px 10px;
}
.social-icons li a {
    position: relative;
    width: 46px;
    height: 46px;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 50%;
    background-position: center center;
}
.social-icons li a:hover {
    background: #333;
}
.social-icons li a::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 17px;
    display: block;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: url(/static/images/social-icons.png) 0% 0% / 147px no-repeat;
    margin: 0px auto;
}
.social-icons li a.gp-icon::before {
    width: 22px;
    height: 14px;
    background-position: -11px -1px;
}
.social-icons li a.tw-icon::before {
    width: 16px;
    height: 13px;
    background-position: -34px -1px;
}
.social-icons li a.pi-icon::before {
    width: 13px;
    height: 16px;
    background-position: -51px 0px;
}
.social-icons li a.li-icon::before {
    width: 15px;
    height: 14px;
    background-position: -66px 0px;
}
.join-us-on h6 {
    text-transform: uppercase;
    margin: 45px 0px 30px;
}
.footer-right {
    padding: 0px;
    text-align: right;
}
.footer-right a {
    color: #9da3a6;
    margin-left: 30px;
}
/* TC style */
.terms_cond {
    width: 100%;
    position: fixed;
    height: 100%;
    display: none;
    margin: 0 auto;
    top: 5%;
    z-index: 10001;
    left: 0;
}
#terms_cond{
    position: relative;
    width: 60%;
    height: 90%;
    background-color: #f6f6f6;
    margin: 0 auto;
    left: auto;
    right: auto;
    border-radius: 5px;
}
.terms_cond_content {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.close_terms_cond {
    float: right;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background: none;
    border: none;
    padding: 15px 10px;
    right: 5px;
    position: absolute;
    outline: none;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-header h4.modal-title {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}
.modal-body {
    position: relative;
    padding: 15px;
    overflow-y: auto;
    height: 90%;
}
.modal-body p {
    color: #828b90;
    font-size: 12px;
    margin-bottom: 10px;
}
.modal-body h4 {
    font-weight: bold;
    font-size: 12px;
}

/* Request Demo */
input[type=submit]:disabled{
    background-color: #c0c0c0;
}
.submit-status {
    display: none;
    background-color: #4584f6;
    width: 100%;
    position: absolute;
    height: 47px;
    left: 0;
    border-radius: 5px;
    bottom: 0;
}
.submit-status:before {
    content: "";
    position: absolute;
    background-image: url(/static/images/ellipse-rotator.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    z-index: 999;
    width: 28px;
    height: 31px;
    top: 8px;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.submit-status.active {
    display: block;
}
#request-demo, #request-resource-data {
    margin: 30px;
}
.request-demo-form h4 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: 400;
    padding: 30px 20px 0px 0;
    text-align: center;
    margin: 0;
}
.request-demo-form p {
    color: #828b90;
    text-align: center;
    margin-top: 15px;
    padding: 0 25px;
    line-height: 20px;
}
.form-field-block {
    margin-bottom: 30px;
}
.form_error_msg {
    color: #f43838;
    font-size: 12px;
    position: absolute;
    padding-left: 15px;
}
#request-demo label , #request-resource-data label {
    padding: 3px 15px;
    display: block;
    font-weight: 500;
    color: #40435b;
    border: 1px solid #9da3a6;
    border-radius: 5px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0px;
}
#request-demo label span, #request-resource-data label span {
    color: #f54545;
    float: right;
    clear: both;
}
.request-demo-form {
    position: fixed;
    top: -100%;
    width: 35%;
    height: auto;
    background-color: #fff;
    z-index: 1033;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all 0.5s ease;
    padding: 0px;
    visibility: hidden;
    border-radius: 10px;
    overflow: auto;
    max-height: 95%;
    max-width: 420px;
}
.request-demo-form.active {
    visibility: visible;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.request-demo-form span.hotspot-logo {
    background-image: url("/static/images/hotspot-icon-active.png");
    width: 40px;
    height: 40px;
    display: block;
    background-size: 35%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: 13px 11px;
    position: relative;
}
.request-demo-form h3
{
    text-align: center;
    margin-bottom: 20px;
}
.request-demo-form input[type='text'], .request-demo-form input[type='email'], .request-demo-form input[type='tel'] {
    margin: 3px auto;
    display: block;
    outline: none;
    border: 0;
    width: 100%;
    font-size: 14px;
    color: #1e1e1e;
    font-weight: normal;
}
.request-form-footer {
    margin: 20px auto;
    text-align: center;
    color: #fff;
    position: relative;
}
.hide-request-demo, .hide-resource-form {
    right: 0;
    color: #1e1e1e;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    position: absolute;
}
#request-resource-section p {
    font-size: 14px;
}
.request-form-footer .save {
    outline: none;
    border: none;
    padding: 15px 25px;
    background-color: #4282fe;
    border-radius: 4px;
    font-size: 12px;
    width: 100%;
    font-weight: 500;
}
.request-demo-form .submit-success {
    display: none;
    z-index: 9;
    height: 47px;
    position: absolute;
    left: 0;
    background: #4584f6;
    color: #fff;
    text-align: center;
    bottom: 0;
    border-radius: 5px;
}
.request-demo-form .submit-success.active {
    width: 100%;
    display: block;
}
.disabled_view {
    display: none;
    background: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
}
#success-request-demo {
    border: 0;
    outline: none;
    height: 47px;
    padding: 14px;
}
.error-page {
    margin-top: 20px;
    margin-bottom: 20px;
}
.error-page-img img {
    margin: 0 auto;
}
.error-page h1 {
    font-size: 36px;
}
.error-page a {
    background: #4885ee;
    color: #fff;
    padding: 12px 58px;
    margin-top: 14px;
    display: inline-block;
    border-radius: 5px;
}
.error-page .left-block, .error-page .right-block {
    display: table-cell;
    width: 50%;
}
.error-page .left-block {
    vertical-align: bottom;
}
.error-page .right-block {
    vertical-align: middle;
}
/* Mobile style starts here */

@media (max-width: 767px) {
    body {
        right: 0;
        position: relative;
        transition: right 0.5s ease;
        -moz-transition: right 0.5s ease;
        -webkit-transition: right 0.5s ease;
    }
    body.slide-menu {
        right: 250px;
        position: relative;
    }
    .fixed-header {
        padding: 0 20px;
    }
    .fixed-header .logo, .fixed-header .help-logo {
        font-size: 18px;
        line-height: 47px;
        font-weight: 500;
    }
    .fixed-header .navbar-collapse {
        position: fixed;
        top: 0;
        border: none;
        width: 250px;
        right: -900%;
        transition: right 0.5s ease;
        -moz-transition: right 0.5s ease;
        -webkit-transition: right 0.5s ease;
    }
    .slide-menu .fixed-header .navbar-collapse {
        right: -800%;
    }
    .navbar-inverse .navbar-toggle {
        border: none;
        margin-right: 0;
    }
    .nav-transp-style .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #fff;
        transition: all 1s ease;
        -moz-transition: all 1s ease;
        -webkit-transition: all 1s ease;
    }
    .navbar-inverse .navbar-toggle .icon-bar,
    .signin-page .nav-transp-style .navbar-inverse .navbar-toggle .icon-bar ,
    .signup-page .nav-transp-style .navbar-inverse .navbar-toggle .icon-bar,
    .resource-unregistered .not-authenticated .nav-transp-style .navbar-inverse .navbar-toggle .icon-bar  {
        background-color: #000;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        border: none;
        background: transparent;
    }
    .slide-menu .fixed-header .navbar-inverse .navbar-nav>li>a:hover,
    .slide-menu .fixed-header .navbar-inverse .navbar-nav>.open>a:focus,
    .slide-menu .fixed-header .navbar-inverse .navbar-nav>.open>a:hover,
    .slide-menu .fixed-header .navbar-inverse .navbar-nav>li>a,
    .slide-menu .navbar-nav > li:last-child:hover > a > span,
    .slide-menu .navbar-nav > li.show-submenu > a > span {
        color: #000 !important;
    }
    body.slide-menu, .slide-menu .fixed-header {
        border-right: 3px solid #ccc;
        right: 250px;
    }
    .slide-menu .menu-item.show-submenu .dropdown-list {
        position: relative;
        top: auto;
        border: none;
        width: 100%;
        padding: 0 10px;
    }
    .slide-menu .dropdown-list:before {
        content: initial;
    }
    .slide-menu .menu-dropdown:after {
        border-top: 7px solid #000;
        right: auto;
        margin-left: 7px;
    }
    .slide-menu .menu-item.show-submenu .menu-dropdown:after {
        border-bottom: 7px solid #000;
    }
    .slide-menu .fixed-header .navbar-inverse .navbar-nav>li>a, .slide-menu .dropdown-list li {
        margin: 15px;
        padding: 0;
    }
    .slide-menu .navbar-nav {
        margin: 0;
    }
    .slide-menu .dropdown-list li h5 {
        font-size: 12px;
        color: #000;
        text-transform: uppercase;
    }
    .slide-menu .dropdown-list li p {
        display: none;
    }
    .slide-menu .fixed-header .navbar-inverse .navbar-nav>li>a.sign-up,
    .signup-page .fixed-header.nav-transp-style .navbar-inverse .navbar-nav>li>a.sign-up,
    .signin-page .fixed-header.nav-transp-style .navbar-inverse .navbar-nav>li>a.sign-up
     {
        background: transparent;
        padding: 0;
    }
    .slide-menu span.icon-bar:nth-child(1) {
        top: 3px;
        position: relative;
        transform: rotate(44deg);
        -moz-transform: rotate(44deg);
        -webkit-transform: rotate(44deg);
    }
    .slide-menu span.icon-bar:nth-child(2) {
        display: none;
    }
    .slide-menu span.icon-bar:nth-child(3) {
        bottom: 3px;
        position: relative;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
    }
    .content-block.done_it_for {
        padding: 20px;
        margin: 35px auto 0;
    }
    .content-block.done_it_for p {
        font-size: 14px;
        max-width: 100%;
    }
    .footer-block {
        padding: 20px;
    }
    #footer .enter_email {
        margin: 15px 0;
    }
    .content-block.done_it_for h4, #footer .signup-area .title1, .footer-left .footer_logo {
        font-size: 14px;
    }
    .done_it_for .client_band {
        padding: 0;
    }
    .done_it_for .client_band img {
        max-width: 90%;
    }
    #footer .signup-area {
        margin: 50px 20px;
        max-width: 90%;
        width: 100%;
        padding: 50px 10px;
    }
    .enter_email form input {
        width: 60%;
    }
    .enter_email span {
        width: 37%;
        font-size: 10px;
    }
    .footer-links {
        max-width: 100%;
        width: 100%;
    }
    .footer-left, .footer-right {
        display: block;
        text-align: left;
        padding: 0;
        margin: 10px 0;
    }
    #footer .signup-area p {
        margin: 20px;
        font-size: 12px;
    }
    .footer-left p {
        margin: 0;
    }
    .footer-right a {
        font-size: 10px;
        margin-left: 10px;
    }
    .footer-right a:first-child  {
        margin-left: 0;
    }
    /* Reqest Demo */
    .request-demo-form input[type='text'], .request-demo-form input[type='email'], .request-demo-form input[type='tel']{
        margin: 25px auto 0;
    }
    .request-demo-form h3 {
        font-size: 20px;
    }
    .request-form-footer .save {
        padding: 5px 10px;
    }
    .request-demo-form {
        position: absolute;
        overflow: auto;
        margin: 20px auto;
        height: auto;
        max-width: 100%;
        width: auto;
    }
    .request-demo-form.active {
        top: 1%;
        transform: none;
    }
    .error-page .left-block, .error-page .right-block {
        display: block;
        width: 100%;
    }
    .error-page .right-block {
        margin-top: 20px;
    }
    .error-page h1 {
        font-size: 26px;
    }
    .error-page p {
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .fixed-header .logo, .fixed-header .help-logo {
        font-size: 18px;
    }
    .fixed-header {
        padding: 0px 20px;
    }
    .footer-block {
        padding: 20px;
    }
    .footer-links {
        width: 100%;
    }
    #footer .signup-area {
        width: 75%;
        margin: 50px auto;
    }
    .marketing-page .sf-details h3 {
        margin-top: 0px;
        padding-top: 85px;
    }
    .request-demo-form {
        position: absolute;
    }
    .fixed-header .navbar-inverse .navbar-nav>li>a {
        margin-left: 5px;
    }
    .fixed-header .navbar-inverse .navbar-nav>li>a.sign-up {
        padding: 8px 10px;
    }
    .error-page h1 {
        font-size: 30px;
    }
}
@media (max-width: 1024px) {
    .request-demo-form {
        width: 80%;
    }
    .request-demo-form {
        position: absolute;
    }
}
/* Lock website to max 1320px */
.fix_width {
    max-width: 1320px;
    margin: 0 auto;
}