<div class="slider-header">
    <div class="slider-content-type">
        <div class="selected-slider-type text-capitalize">Featured</div>
        <ul class="slider-type-options">
            <li class="active-slider-type" data-value="featured">Featured</li>
            <li data-value="recent">Recently Added</li>
            <li data-value="trending">Trending</li>
        </ul>
    </div>
</div>