{% extends 'tenants/default/solidfire/base.html' %}
	{% block container %}
		<div class="right_block reset">
			<div class="right_content">
				{% if page_type == 'Enter-Email' %}
				<div class="reset-password">
					<h4>Reset your password</h4>
	                <div class="reset-form-right">
	                    <form id="reset-solidfire" name="reset-solidfire" autocomplete="off" method="post" onsubmit="return ResetPassword()">
		                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
		                   	<div>
		                        <label>
		                        	<p class="title mandatory-field">EMAIL</p>
		                        	<input type="text" name="email" id="fullemail" autocomplete="off">
		                        </label>
		                    </div>
		                    <div>
		                    	<input type="submit" class="active" id="reset-btn" value="RESET">
		                    </div>
	                    </form>
	                </div>
	            </div>
	            {% elif page_type == 'Error' %}
                    <div class="error-msg">
                        <p> User with the given email is not registered</p>
                        <br/>
                        <p><a href="{{url_for('auth.forgot_password')}}"> Re-Enter email </a><p>
                    </div>
                {% else %}
    		        <div class="check-mail">
    		          	<p>An email with reset link was sent to your email.</p>
    		        </div>
                {% endif %}   
			</div>
		</div>
	{% endblock %}
	