<div class="search-bar-result-wrapper">
    {{#each results}}
        <div class="search-result-item">
            <a href="{{link}}" target="_blank" class="card-heading">{{title}}</a>
        </div>
    {{/each}}
</div>