#journeys-container{
    position: relative;
    width: auto;
}
#journeys-container .main-header {
    font-family: "Playfair Display";
    margin-bottom: 10px;
    color: #222222;
    font-size: 32px;
    font-weight: 700;
}
.filters-wrapper{
    display: none;
    position: fixed;
    right: 0;
    background-color: white;
    z-index: 2;
    width: 400px;
    top: 0px;
    height: 100%;
    overflow: auto;
}
.filters-wrapper::-webkit-scrollbar { width: 0 }

.welcome-video-holder{
    display: none;
}
.content-line{
    font-size: 16px;
}
.explore-journeys{
    font-family: "Playfair Display";
    font-size: 18px;
    font-weight: 900;
    color: #000;
    margin-bottom: 15px;
    letter-spacing: 0.45px;
    margin-top: 40px;
    text-transform: capitalize;
}
.journey-block{
    margin-top: 20px;
    margin-bottom: 80px;
    position: relative;
    min-height: 50vh;
}
.journey-block:not(.content-loaded):after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(/static/images/loading.gif) no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
}
.journey-filter-block{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h4.filter-heading{
    margin-left: 16px;
    padding-top: 37px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.checkbox {
    margin-top: 23px;
}
.checkbox label {
    padding-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #1e1e1e;
    line-height: 19px;
    text-transform: capitalize;
}
.checkbox label:after {
    content: '';
    display: table;
    clear: both;
}
input[type="checkbox"] + .checkbox-icon  {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin-right: 18px;
    float: left;
} 
input[type="checkbox"]:checked + .checkbox-icon  {
    background-color: rgb(4, 247, 4);
} 
.checkbox .checkbox-icon .cr-icon {
    position: absolute;
    font-size: 12px;
    line-height: 0;
    top: 47%;
    left: 15%;
}
.checkbox label input[type="checkbox"] {
    display: none;
}
  
.checkbox label input[type="checkbox"]+.checkbox-icon>.cr-icon {
    opacity: 0;
}
  
.checkbox label input[type="checkbox"]:checked+.checkbox-icon>.cr-icon {
    opacity: 1;
    color: white;
}
.card-img-top{
    overflow: hidden;
    height: 225px;
    width: 100%;
    object-fit: contain;
}
h5.card-title{
    line-height: 19px;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    max-height: 40px;
    overflow: hidden;
    padding: 15px;
}
.item-block{
    margin-bottom: 20px;
    position: relative;
    height: 325px;
    background-color: white;
    cursor: pointer;
}
.items-block-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.item-block:hover{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-block a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 90px;
    left: 0;
    right: 0;
    background: url(/static/images/avaya/journey-item.png) left no-repeat;
    background-size: 46px;
}
.item-block:hover a:after{
    content: "launch";
    position: absolute;
    width: 100%;
    background: #ed1c2e url(/static/images/avaya/launch-arrow.png) no-repeat 95% 50%;
    background-size: 16px;
    color: white;
    bottom: 0;
    height: 37px;
    text-align: center;
    padding-top: 13px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.filter-header{
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-top: 26px;
}
.filter-button{
    top: 50%;
    position: fixed;
    right: 0px;
    z-index: 1;
    width: 62px;
    height: 60px;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.2);
    background: #ffffff url(/static/images/avaya/filter-icon.png) no-repeat;
    background-size: 40px;
    background-position: center; 
    cursor: pointer;
}
.filter-close-button{
    width: 62px;
    height: 60px;
    background: #ffffff url(/static/images/avaya/filter-cancel.png) no-repeat;
    background-size: 20px;
    background-position: center;
    margin-left: -76px;
    top: 50%;
    position: fixed;
}
.search-icon {
    z-index: 1;
}
.journey-block.content-not-found:after{
    top: 40%;
    width: 100%;
    text-align: center;
    background: none;
    content:'content not found';
    font-size: 24px;
    text-transform: uppercase;
}
.journey-block.content-not-found .filter-button{
    display: none;
}