{% extends 'layouts/dashboard.html' %}

{% block sub_styles %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/air-datepicker/css/datepicker.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard_content.css') }}">
{% endblock sub_styles %}

{% block dashboard_container %}
	<ul class="nav nav-pills">
		<li role="overview"><a href="{{url_for('dashboard.journeys')}}" {% if sub_menu == 'overview' %} class="active" {% endif %}>overview</a></li>
	</ul>
	<div class="dashboard-work-area library">
		{% block dashboard_content_container %}
		{% endblock %}
	</div>
{% endblock %}