{% extends 'layouts/base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block container %}
<div class="fixed-bg">
    <div class="login-wrap">
        <div class="login-header">
            <div class="logo">
                <a target="_blank" href="{{sdemos_website_url}}" style="outline: none;display: block;float: left;font-size: 24px;font-weight: 700;line-height: 37px;letter-spacing: 3px;text-decoration: none;color: #066afe;padding:20px 45px;">SHAREDEMOS</a>
            </div>
            <button type="button" class="navbar-toggle visible-xs">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="header-menu">
                <ul class="nav navbar-nav">
                    <li class="menu-item">
                        <a href="javascript:;" class="menu-dropdown"><span>PRODUCT</span></a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="{{sdemos_website_url}}/features">
                                    <h5>Features</h5>
                                    <p>Explore our line of tools built to make your life easier.</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="javascript:;" class="menu-dropdown"><span>SOLUTIONS</span></a>
                        <ul class="dropdown-list">
                            <li>
                                <a href="{{sdemos_website_url}}/sales">
                                    <h5>Sales Cloud</h5>
                                    <p>Onboard and keep your sales teams up-to-date.</p>
                                </a>
                            </li>
                            <li>
                                <a href="{{sdemos_website_url}}/marketing">
                                    <h5>Marketing Cloud</h5>
                                    <p>Create, Distribute and Measure technical content with ease.</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="active" href="{{sdemos_website_url}}/resources"><span>RESOURCES</span></a></li>
                    <li><a class='signin' href="{{sdemos_website_url}}/sign-in"><span>LOG IN</span></a></li>
                </ul>
            </div>
        </div>
        <div class="forgot-pwd form-wrap" >
            <p class="proceed-to">
                <a class="signin-rdt" href="javascript:void(0)">sign in</a>
            </p>
        	<div class="forgot-email-block">
                {% if page_type == 'Enter-Email' %}
            		<div class="send-mail" >
    		        	<p>Reset your password</p>
    		            <form action="" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    		                <div class="email-addr">  
                              <input type="email" placeholder="Email Address"  name="email"  required autocomplete="off"  />
                            </div>
    		                <button type= "submit" class="reset-submit" >Reset</button>  
    		            </form>
    		        </div>
                {% elif page_type == 'Error' %}
                    <div class="error-msg">
                        <p> User with the given email is not registered, please register through <a href="{{sdemos_website_url}}">ShareDemos</a></p>
                        <br/>
                        <p><a href="{{url_for('auth.forgot_password')}}"> Re-Enter email </a><p>
                    </div>
                {% else %}
    		        <div class="check-mail">
    		          	<p>An email with reset link was sent to your email.</p>
    		        </div>
                {% endif %}    
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='libs/jquery/jquery-1.11.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}