{% extends 'layouts/dashboard.html' %}
{% block dashboard_container %}
	<div class="dashboard-work-area start">
       <div class="welcome-wrap">
       		<div class="row">
       			<div class="col-sm-3">
       				<img src="{{ picture_url }}" width="50%">
       			</div>
       			<div class="col-sm-9">
       				<h1 class='welcome'>Welcome {{ user.first_name }}!</h1>
       				<h2 class='welcome-message'>Congratulations on joining ShareDemos. We are happy to have you.<br>
       					Before we let you make some cool stuff you'll need to create a password.
       				</h2>
                                   <form method="post" action="" onsubmit= "return validateForm()">
                                          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              				<div class="set-password-wrap">
              					<div class="input-wrap">
              						<input id="main_pwd" type="password" class="password" name='password' placeholder="Enter Password" autocomplete="off" required><label></label>
              					</div>
              					<div class="input-wrap">
              						<input id="re_pwd" type="password" class="password" placeholder="Re-enter Password" autocomplete="off" required><label></label>
              					</div>
              					<input id="continueBtn" type="submit" class="set-password" value="CONTINUE">
              				</div>
                                   </form>
       			</div>
       		</div>
       </div>
    </div>
{% endblock %}

{% block sub_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard_start.js') }}"></script>
{% endblock sub_scripts %}
