    .theme-bg-color{
        background: {{theme.background_color}};
    }
    .theme-title-color, .newtemp .theme-title-color {
        color: {{theme.title_color}};
    }
    .theme-paragraph-color, .newtemp .theme-paragraph-color {
        color: {{theme.paragraph_color}};
    }
    .inner-circle .progress, .inner-circle.progress{
        background: {{theme.progress_bar_color}} !important;
    }
    .section-drag{
        fill: {{theme.title_color}} !important;
    }
    .pwt-box .right .edit-hamburger span, .pwt-box .right .edit-hamburger span::before, 
    .pwt-box .right .edit-hamburger span::after{
        background-color: {{theme.title_color}};
    }

    .fs-banner .filter.active, .fs-banner .filter:hover{
        border-bottom: 1px solid {{theme.progress_bar_color}};
        color: {{theme.progress_bar_color}};
    }
    .section-pwt-list .sign-up .sign-up-btn, .section-pwt-list .sign-up .cta-link,
    .newtemp .export-to-pdf-link, .newtemp .viewmore-demos, .boxtemp .fs-banner .filter.active,
    .boxtemp .fs-banner .filter:hover, .newtemp .pwt-list.playlist-right li:hover {
        color: {{theme.background_color}}; 
    }
    .newtemp .viewmore-demos:hover {
        background: {{theme.background_color}};
    }
    .theme-right-border-color{
        border-right:10px solid {{theme.background_color}};
    }
    .toggle-bar-pwt-list .theme-left-border-color{
        border-left: 10px solid {{theme.background_color}};
    }
    
    .theme-right-border-color:hover{
        border-right: 10px solid {{theme.progress_bar_color}};
    }
    .toggle-bar-pwt-list .theme-left-border-color.active, .toggle-bar-pwt-list .theme-left-border-color:hover {
        border-left: 10px solid {{theme.progress_bar_color}};
    }
    .pwt-list li .read .circle, .pwt-list li .unread .circle{
        border: 1px solid {{theme.progress_bar_color}};
    }
    .secondary-fill-color, .section-pwt-list .pwt-box .left .outer-circle .inner-circle .progress.secondary-fill-color {
        background: {{theme.progress_bar_color}}
    }
    .fill10 {
        background-image: linear-gradient(top, #cacaca 90%, {{theme.progress_bar_color}} 10%);
        background-image: -o-linear-gradient(top, #cacaca 90%, {{theme.progress_bar_color}} 10%);
        background-image: -moz-linear-gradient(top, #cacaca 90%, {{theme.progress_bar_color}} 10%);
        background-image: -webkit-linear-gradient(top, #cacaca 90%, {{theme.progress_bar_color}} 10%);
        background-image: -ms-linear-gradient(top, #cacaca 90%, {{theme.progress_bar_color}} 10%);   
    }
    .fill20 {
        background-image: linear-gradient(top, #cacaca 80%, {{theme.progress_bar_color}} 20%);
        background-image: -o-linear-gradient(top, #cacaca 80%, {{theme.progress_bar_color}} 20%);
        background-image: -moz-linear-gradient(top, #cacaca 80%, {{theme.progress_bar_color}} 20%);
        background-image: -webkit-linear-gradient(top, #cacaca 80%, {{theme.progress_bar_color}} 20%);
        background-image: -ms-linear-gradient(top, #cacaca 80%, {{theme.progress_bar_color}} 20%);   
    }
    .fill30 {
        background-image: linear-gradient(top, #cacaca 70%, {{theme.progress_bar_color}} 30%);
        background-image: -o-linear-gradient(top, #cacaca 70%, {{theme.progress_bar_color}} 30%);
        background-image: -moz-linear-gradient(top, #cacaca 70%, {{theme.progress_bar_color}} 30%);
        background-image: -webkit-linear-gradient(top, #cacaca 70%, {{theme.progress_bar_color}} 30%);
        background-image: -ms-linear-gradient(top, #cacaca 70%, {{theme.progress_bar_color}} 30%);   
    }
    .fill40 {
        background-image: linear-gradient(top, #cacaca 60%, {{theme.progress_bar_color}} 40%);
        background-image: -o-linear-gradient(top, #cacaca 60%, {{theme.progress_bar_color}} 40%);
        background-image: -moz-linear-gradient(top, #cacaca 60%, {{theme.progress_bar_color}} 40%);
        background-image: -webkit-linear-gradient(top, #cacaca 60%, {{theme.progress_bar_color}} 40%);
        background-image: -ms-linear-gradient(top, #cacaca 60%, {{theme.progress_bar_color}} 40%);   
    }
    .fill50{
        background-image: linear-gradient(bottom, {{theme.progress_bar_color}} 50%, #cacaca 50%);
        background-image: -o-linear-gradient(bottom, {{theme.progress_bar_color}} 50%, #cacaca 50%);
        background-image: -moz-linear-gradient(bottom, {{theme.progress_bar_color}} 50%, #cacaca 50%);
        background-image: -webkit-linear-gradient(bottom, {{theme.progress_bar_color}} 50%, #cacaca 10%);
        background-image: -ms-linear-gradient(bottom, {{theme.progress_bar_color}} 50%, #cacaca 50%);    
    }
    .fill60 {
        background-image: linear-gradient(bottom, {{theme.progress_bar_color}} 60%, #cacaca 40%);
        background-image: -o-linear-gradient(bottom, {{theme.progress_bar_color}} 60%, #cacaca 40%);
        background-image: -moz-linear-gradient(bottom, {{theme.progress_bar_color}} 60%, #cacaca 40%);
        background-image: -webkit-linear-gradient(bottom, {{theme.progress_bar_color}} 60%, #cacaca 40%);
        background-image: -ms-linear-gradient(bottom, {{theme.progress_bar_color}} 60%, #cacaca 40%);    
    }
    .fill70{
        background-image: linear-gradient(bottom, {{theme.progress_bar_color}} 70%, #cacaca 30%);
        background-image: -o-linear-gradient(bottom, {{theme.progress_bar_color}} 70%, #cacaca 30%);
        background-image: -moz-linear-gradient(bottom, {{theme.progress_bar_color}} 70%, #cacaca 30%);
        background-image: -webkit-linear-gradient(bottom, {{theme.progress_bar_color}} 70%, #cacaca 30%);
        background-image: -ms-linear-gradient(bottom, {{theme.progress_bar_color}} 70%, #cacaca 30%);    
    }
    .fill80 {
        background-image: linear-gradient(bottom, {{theme.progress_bar_color}} 80%, #cacaca 20%);
        background-image: -o-linear-gradient(bottom, {{theme.progress_bar_color}} 80%, #cacaca 20%);
        background-image: -moz-linear-gradient(bottom, {{theme.progress_bar_color}} 80%, #cacaca 20%);
        background-image: -webkit-linear-gradient(bottom, {{theme.progress_bar_color}} 80%, #cacaca 20%);
        background-image: -ms-linear-gradient(bottom, {{theme.progress_bar_color}} 80%, #cacaca 20%);    
    }
    .fill90 {
        background-image: linear-gradient(bottom, {{theme.progress_bar_color}} 90%, #cacaca 10%);
        background-image: -o-linear-gradient(bottom, {{theme.progress_bar_color}} 90%, #cacaca 10%);
        background-image: -moz-linear-gradient(bottom, {{theme.progress_bar_color}} 90%, #cacaca 10%);
        background-image: -webkit-linear-gradient(bottom, {{theme.progress_bar_color}} 90%, #cacaca 10%);
        background-image: -ms-linear-gradient(bottom, {{theme.progress_bar_color}} 90%, #cacaca 10%);    
    }
    .fill100 {
        background-image: linear-gradient(bottom, {{theme.progress_bar_color}} 50%, {{theme.progress_bar_color}} 50%);
        background-image: -o-linear-gradient(bottom, {{theme.progress_bar_color}} 50%, {{theme.progress_bar_color}} 50%);
        background-image: -moz-linear-gradient(bottom, {{theme.progress_bar_color}} 50%, {{theme.progress_bar_color}} 50%);
        background-image: -webkit-linear-gradient(bottom, {{theme.progress_bar_color}} 50%, {{theme.progress_bar_color}} 10%);
        background-image: -ms-linear-gradient(bottom, {{theme.progress_bar_color}} 50%, {{theme.progress_bar_color}} 50%); 
    }
