{% extends 'tenants/seo/vmware/base.html' %}
{% block sub_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulletin_board.css') }}" />
{% endblock %}
{% block container %}
<header>
    <div class="container">
        <div class="header-left-block">
            <figure class="text-center">
				{% set filename = 'media/' + api['tenant']['logo'] if api['tenant']['logo'] else 'images/vmware/logo.png' %}
                <img class="vmw-logo" src="{{ url_for('static', filename=filename) }}" alt="logo">
            </figure>
        </div>
	</div>
</header>
<div class="bb-links-banner container">
	<div class="more-links-page-title">
		Additional Links
		<p class="more-link-sub-title">Check out these links.We think you might find these helpful.</p>
	</div>
	<div class="overview-card more-link-page">
	    <ul>
		{% for link in bulletin_board_details['link_details'] %}
		        <li class="link-holder">
		        	<a href = '{{link.url}}' title='{{link.name}}' {% if link.link_type.lower() == 'external' %}target='_blank'{% endif %}>{{link.name|truncate(110)}}</a>
		        </li>
		{% endfor %}
	    </ul>
	</div>
</div>

{{ footer() }}
{% endblock %}
