.report-header-wrap{
    margin: 0px;
}
.header-breadcrumb{
    margin-bottom: 15px;
    color: #cfcfcf;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
}
.header-breadcrumb a, .header-breadcrumb a:link,
.header-breadcrumb a:active, .header-breadcrumb a:visited {
    color: #cfcfcf;
    padding: 0px 5px;
    cursor: pointer;
}
.header-breadcrumb a:first-child{
    padding-left: 0px;
}
.header-info-wrap{
    height: 30px;
}
.header-info-wrap .header-info{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    float: left;
}
.header-info span{
    border-radius: 5px;
    background-color: rgba(170, 220, 255, 0.3);
    padding: 7px 12px;
    color: #2a63ff;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 18px;
}
.header-info-wrap .interval-dd{
    float: right;
    margin-left: 20px;
}

.performance-wrap{
    display: flex;
    margin-top: 27px;
}
.performance-wrap .card{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.performance-wrap .section-card{
    padding: 22px 28px;
    margin-right: 27px;
    min-height: 165px;
    flex: 1 0 0;
}
.performance-wrap .section-card:last-child{
    margin-right: 0px;
}
.performance-wrap .section-card h1,
.userlist-wrap h1{
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}
.performance-wrap .section-card h2{
    color: #1b6fce;
    font-size: 18px;
    align-self: center;
    margin: 30px 0px;
    font-weight: 500;
}
.performance-wrap .section-card h2 span{
    font-weight: 400;
}
.performance-wrap .section-card p{
    font-size: 18px;
    font-weight: 500;
    text-align: right;
}
.performance-wrap .section-card  p.up{
    color: #58d73f;
}
.performance-wrap .section-card  p.down{
    color: #ef3c2f;
}
.userlist-main-wrap{
    margin-top: 27px;
    padding: 26px 23px;
    min-height: 200px;
}
.userlist-wrap{
    position: relative;
    padding: 21px 0px;
}
.user-details{
    display: flex;
    flex-direction: row;
    border-bottom: #f2f2f2 solid 1.5px;
}
.user-details div{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 45px;
}
.user-details.header{
    text-transform: uppercase;
    color: #c8c8c8;
    font-size: 12px;
    font-weight: 500;
}
.user-details.header div{
    align-items: center;
    color: #c8c8c8;
    text-transform: uppercase;
}
.user-details.header .section{
    color: #1b6fce;
    flex-direction: column;
    align-items: center;
}
.user-details.header .section span{
    display: block;
    color: #545353;
    margin-top: 18px;
}
.user-details .title{
    color: #2679df;
    font-size: 12px;
    font-weight: 400;
    flex: 0 0 165px;
    text-transform: capitalize;
}
.user-details .date{
    flex: 0 0 85px;
    color: #1e1e1e;
    font-size: 12px;
    font-weight: 400;
}
.user-details .score{
    flex: 0 0 120px;
    color: #1e1e1e;
    font-size: 12px;
    font-weight: 400;
}
.user-details .proficiency{
    flex: 0 0 120px;
    color:#fff;
    text-transform: capitalize;
    flex-direction: column;
    align-items: flex-start;
}
.user-details .section{
    flex-grow: 1;
}
.proficiency span{
    display: inline;
    border-radius: 12px;
    padding: 7px 12px;
}
.proficiency .professional{
    background-color: #9d4ef9;
}
.proficiency .mid-level{
    background-color: #5d59f0;
}
.proficiency .rockstar{
    background-color: #f0a659;
}
.proficiency .beginner{
    background-color: #64b3f2;
}
.user-details .section span{
    width: 15px; 
    height: 15px;
    border-radius: 50%;
}
.user-details .section span.pass{
    background-color: #58d73f;
}
.user-details .section span.fail{
    background-color: #ef3c2f;
}
.user-details .section span.not-attended{
    background: #e6e6e6;
}
.user-details .section span.pending{
    background: #ffd400;
}

