<!-- Text editor -->
<div class="text-editor-wrap">
    <div class="toolbar-wrap" >
        <div id="toolbar"></div>
        <div class="content-cancel">{{i18n 'Cancel'}}</div>
        <div class="content-done">{{i18n 'Done'}}</div>
    </div>
    <div class="question"><b>Q:&nbsp;</b><span></span></div>
    <div class="content-editor-wrap content-slide-wrap">
        <h1>Title</h1><p>Write Something</p>
    </div>
</div>