.split-playlist-container {
    display: flex;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.playlist-left-panel {
    background-color: #f6f6f6;
    height: 100%;
    padding: 30px;
    position: relative;
    width: 350px;
}

.playlist-left-panel .logo {
    height: 26px;
    margin-bottom: 48px;
}

.playlist-right-panel {
    padding-top: 15px;
    flex-grow: 2;
    height: 100%;
    overflow: scroll;
}

.fluid-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-block .category-title {
    color: #041237;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: left;
}

.category-title + p {
    opacity: 0.6;
    color: #041237;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: left;
}

.banner-media-launcher.media-block {
    display: flex;
    align-items: center;
    opacity: 1;
    box-shadow: none;
}

.banner-media-holder .wistia-player-block{
    height: 270px;
}

.banner-media-launcher.media-block:after{
    display: none;
}

.banner-media-launcher .play-video {
    background-color: #7e8494;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 15px;
    position: relative;
}

.banner-media-launcher .play-video:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 12px;
    height: 15px;
    background: url("/static/images/silverpeak/play-icon.png");
    background-size: 100% 100%;

}

.banner-media-launcher p {
    width: 78px;
    height: 10px;
    color: #041237;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
}

.cta-holder {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-cta-btn {
    width: 100%;
    color: #fff;
    background-color: #192e59;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    display: block;
}

.footer-cta-btn:not(:first-child){
    margin-top: 5px;
}

.footer-cta-btn:hover {
    color: #fff;
}

.playlist-list {
    margin-top: 72px;
    margin-bottom: 25px;
}

[data-attr=thumbnail-view] .playlist-block {
    float: none;
    vertical-align: top;
    display: flex;
    flex-direction: column;
}

[data-attr=thumbnail-view] .playlist-container {
    padding-bottom: 1px;
    position: relative;
}

.playlist-container {
    box-shadow: 0 1px 25px 3.7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    position: relative;
    margin-bottom: 39px;
    height: 100%;
}

.pdf-icon-thumbnail-view, .pdf-icon-row-view {
    position: absolute;
    right: 0px;
    top: 12px;
    margin: 0px 10px;
    cursor: pointer;
    z-index: 1;
}

.pdf-icon-thumbnail-view img,
.pdf-icon-row-view img {
    width: 18px;
    height: 18px;
}

.pdf-icon-thumbnail-view:hover img,
.pdf-icon-row-view:hover img {
    filter: brightness(0.5);
}

[data-attr=thumbnail-view] .playlist-header {
    padding: 30px 18px 0;
    min-height: 100px;
}

.playlist-container h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 10px;
    overflow: hidden;
    color: #041237;
}

.playlist-container p {
    font-size: 12px;
    line-height: 16px;
    min-height: 32px;
    color: #808080;
}

[data-attr=thumbnail-view] .playlist-header p {
    margin-bottom: 35px;
}

.max-chapter-desc {
    max-height: 32px;
    overflow: hidden;
    display: block;
}

.max-chapter-desc {
    max-height: 32px;
    overflow: hidden;
    display: block;
}

.tags-block {
    display: inline-block;
}
.chapter-tags {
    margin-left: 60px;
    padding-left: 0;
    width: auto;
    max-height: 15px;
}

.chapter-tags li {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
    background: #42b6e7;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 2px;
    cursor: pointer;
}

[data-attr=thumbnail-view] .chapters-list {
    margin-bottom: 25px;
    padding: 0;
    min-height: 160px;
}

.chapters-list {
    border-top: 1px solid #e8f1f1;
    padding-bottom: 24px;
}

.chapters-list > li {
    margin-bottom: 10px;
    padding-top: 10px;
}

.chapters-list li a {
    color: #2e96cb;
    display: table;
    width: 100%;
    vertical-align: middle;
    padding: 0 18px;
    height: auto;
}

.chapters-list .chapter-index-block {
    display: table-cell;
    width: 30px;
    vertical-align: middle;
}

.chapters-list .chapter-index {
    width: 30px;
    height: 30px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
    color: #37adbf;
}

.chapter-title {
    font-size: 14px;
    font-weight: 400;
    color: #2e96cb;
    line-height: 18px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 13px;
}

.playlist-tags {
    margin-left: 75px;
    padding-left: 0;
    width: auto;
}

.playlist-tags li {
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    padding: 4px 10px;
    background: #42b6e7;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 2px;
    cursor: pointer;
}

.playlist-list {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
}

.media-block {
    display: inline-block;
    opacity: 0.85;
    box-shadow: 0 1px 13.6px 1.4px rgba(0, 0, 0, 0.07);
    position: relative;
    width: 280px;
}

.video-link-block .row {
    cursor: pointer;
}

.media-block img {
    float: right;
    opacity: 0.85;
}
.media-block .banner-image{
    border-radius: 0;
    width: 100%;
    opacity: 1;
}

.playlist-left-panel .popup-image.popup-media, .media-slider li img{
    width: 100%;
}

.media-block:hover{
    opacity: 1;
    cursor: pointer;
}

.media-block:before {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
}

.media-block:after {
    background-repeat: no-repeat;
    background-image: url(/static/images/dell/sprite.png);
    background-position: -25px -35px;
    background-size: 35px;
    width: 10px;
    height: 10px;
}

.video-link-block {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.theme-bg-color {
    background: #2BA0CC;
    object-fit: contain;
}

.section-video-popup,
.banner-media-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background: #000;
    opacity: 0.9;
}

.show-videos .section-video-popup, .show-media .banner-media-popup,
.show-videos .newtemp .overlay, .show-media .hide-media-popup {
    display: block;
}

body.show-videos,
body.show-media {
    overflow: hidden;
}

.section-video iframe,
.banner-media iframe {
    display: none;
}

.banner-media-popup .media-link:before,
.section-video .video-link:before {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: url(/static/images/loading.gif) center center no-repeat;
    content: "";
}

.banner-media-popup .media-link.image:before {
    content: none;
}

.banner-image {
    width: 100%;
    max-width: calc(300px - 20px);
    max-height: 280px;
}

.hide-media-popup {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 50px;
    cursor: pointer;
    background: url(/static/images/author/close.png) no-repeat;
    background-size: 100%;
    z-index: 9;
}

.section-video,
.banner-media {
    display: block;
    margin: 0 auto;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    max-width: 100%;
    width: 540px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#video-slider-block,
#media-slider-block {
    margin-top: 25px;
}

.banner-media-popup .media-slider,
.section-video .video-slider {
    height: auto !important;
}

.banner-media-popup .media-slider,
.section-video .video-slider ul li {
    height: 100% !important;
}

.media-link, .video-link {
    cursor: pointer;
}

.section-video iframe, .section-video object,
.section-video embed, .banner-media-popup iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-video .controls {
    position: relative;
    display: inline-block;
}

.section-video .numericControls {
    position: relative;
    height: 10px;
    margin-top: 10px;
}

.section-video .numericControls li {
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    box-shadow: inset 0 0 0 3px #fff;
    cursor: pointer;
    height: 10px;
    opacity: .4;
    position: relative;
    width: 10px;
    box-sizing: border-box;
}

.section-video .numericControls li.current {
    background: #ffffff;
    opacity: 1;
}

.section-video .numericControls li a {
    display: none;
}

.mini-social-sharing.social-sharing {
    color: #c2c2c2;
    font-size: 18px;
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    max-width: 152px;
    margin-left: auto;
    z-index: unset;
}

.mini-social-sharing.social-sharing li{
    border: none;
    font-size: inherit!important;
    color: inherit;
    margin: 0;
}

.mini-social-sharing.social-sharing li:hover{
    background: transparent;
    font-size: inherit;
    color: inherit;
}

.header-search-block .search-site {
    width: calc(100% + 15px);
    height: 38px;
    border-radius: 19px;
    background-color: #e3e6ec;
    color: #9da3a6;
    font-size: 14px;
    font-weight: 400;
}

.header-search-block .search-site {
    padding-left: 40px;
}

.header-search-block:after {
    position: absolute;
    left: 25px;
    content: "";
    background: url(/static/images/icon-search.png) no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    z-index: 1;
    top: 50%;
    bottom: 0;
    transform: translateY(-50%);
}

.header-search-block .clear-search, [data-attr='cancel-search'] {
    position: absolute;
    content: "";
    background: url(/static/images/dell/close-icon.png) no-repeat;
    background-size: 100%;
    width: 19px;
    height: 19px;
    z-index: 1;
    left: auto;
    right: 25px;
    top: 2px;
    cursor: pointer;
    bottom: 0;
}

.header-search-block .clear-search {
    width: 15px;
    height: 15px;
    right: 30px;
    display: none;
    margin: auto;
}


.search-bar-result-wrapper {
    background: #fff;
    padding: 18px 0;
    border-radius: 15px;
    position: absolute;
    top: calc(100% + 10px);
    left: 15px;
    width: calc(100% - 15px);
    z-index: 3;
    box-shadow: 0 0 42px rgba(33, 54, 103, 0.15);
    max-height: 70vh;
    height: auto;
}

.search-bar-result-wrapper .search-result-item {
    width: 100%;
    padding: 0 30px;
    min-height: 32px;
}

.search-bar-result-wrapper .search-result-item:hover {
    background-color: #c3e6ec;
}

.search-bar-result-wrapper .search-result-item a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    display: block;
}

.mini-mobile-share, .mobile-logo{
    display: none;
}

.playlist-icon-image{
    display: block;
    height: 147px;
    width: 139px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.playlist-block:nth-child(1n+0) .playlist-icon-image{
    background: url("/static/images/silverpeak/playlist-icon-1.png");
    background-size: auto 100%;
}

.playlist-block:nth-child(2n+0) .playlist-icon-image{
    background: url("/static/images/silverpeak/playlist-icon-2.png");
    background-size: auto 100%;
}

.playlist-block:nth-child(3n+0) .playlist-icon-image{
    background: url("/static/images/silverpeak/playlist-icon-3.png");
    background-size: auto 100%;
}

.playlist-block:nth-child(4n+0) .playlist-icon-image{
    background: url("/static/images/silverpeak/playlist-icon-4.png");
    background-size: auto 100%;
}

.playlist-block:nth-child(5n+0) .playlist-icon-image{
    background: url("/static/images/silverpeak/playlist-icon-5.png");
    background-size: auto 100%;
}

.playlist-block:nth-child(6n+0) .playlist-icon-image{
    background: url("/static/images/silverpeak/playlist-icon-6.png");
    background-size: auto 100%;
}

.nav-back-button{
    display: block !important;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f1f0f2;
    display: block;
    position: fixed;
    left: 25px;
    cursor: pointer;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    top: 50px;
}

.vmw-player .chapter-title {
    color: #000;
}

.custom-popup-wrapper:not(:empty){
    display: block;
}

@media (min-width: 1200px) {
    .playlist-right-panel .container {
        width: calc(100% - 30px);
    }
}

@media (max-width: 992px) {
    .container-block .left-sidebar{
        display: none;
    }

    .split-playlist-container {
        flex-wrap: wrap;
        overflow: auto;
    }

    .playlist-left-panel {
        padding-top: 180px;
        width: 100%;
        max-width: unset;
        height: auto;
        overflow: auto;
        text-align: center;
    }

    .playlist-right-panel {
        width: 100%;
        height: auto;
        overflow: auto;
    }

    .cta-holder {
        position: relative;
        margin-top: 15px;
    }

    .footer-cta-btn {
        width: auto;
        text-align: center;
        margin-top: 15px;
        border-radius: 30px;
        padding: 0 40px;
        display: inline-block;
        float: left;
    }

    .footer-cta-btn:not(:first-child) {
        margin-top: 15px;
    }

    .category-title {
        font-size: 24pt;
    }

    .mini-mobile-share {
        display: inline-flex;
        height: 80px;
        width: 120px;
        align-items: flex-end;
    }

    .playlist-right-panel .search-bar-holder{
        background: #f6f6f6;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;
        width: 100%;
        padding-bottom: 20px;
    }
    .search-bar-holder .search-site{
        width: 100%;
    }

    .search-bar-result-wrapper{
        width: calc(100% - 30px);
    }

    .mobile-logo{
        display: block;
        margin: 60px auto 15px auto;
        width: 130px;
    }

    .header-search-block:after, .header-search-block .clear-search{
        top: unset;
        bottom: 30px;
        transform: none;
    }
    .col-md-2 > .mini-social-sharing, .logo{
        display: none;
    }
}

@media (min-width: 1200px) {
    .playlist-block:nth-child(1n+0) .playlist-container, .playlist-block:nth-child(4n+0) .playlist-container {
        margin-right: -5px;
        margin-left: 0;
    }
    .playlist-block:nth-child(2n+0) .playlist-container, .playlist-block:nth-child(5n+0) .playlist-container {
        margin-left: -5px;
        margin-right: -5px;
    }
    .playlist-block:nth-child(3n+0) .playlist-container, .playlist-block:nth-child(6n+0) .playlist-container {
        margin-left: -5px;
        margin-right: 0;
    }
    .fluid-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}