{% extends 'tenants/default/helpgrowct/base.html' %}
	{% block container %}
		<div class="right_block signin">
			<div class="right_content">
				<div class="create-account">
					<h4>Choose a Password</h4>
	                <div class="login-form-right">
	                    <form id="choosePassword-solidfire" name="choosePassword-solidfire" autocomplete="off" method="post" onsubmit="return choosePassword()">
		                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
		                   	<div>
		                        <label>
		                        	<p class="title mandatory-field">PASSWORD</p>
		                        	<input type="password" name="password" id="password" autocomplete="off" required>
		                        </label>
		                    </div>
		                   	<div>
		                        <label>
		                        	<p class="title mandatory-field">CONFIRM PASSWORD</p>
		                        	<input type="password" name="confirmPassword" id="confirmPassword" autocomplete="off" required>
		                        </label>
		                    </div>
		                    <div>
		                    	<input type="submit" id="register-btn" class="active" value="CREATE ACCOUNT">
		                    </div>
	                    </form>
	                </div>
	            </div>
			</div>
		</div>
	{% endblock %}
	